<!-- IF not S_IS_BOT -->
<div class="sidebar-widget">
	<div class="widget-header">
		<i class="widget-icon fi fi-account-multiple"></i>
		<a href="">{L_TWENTYFOURHOUR_STATS}</a>
	</div>
			<div class="stat-block 24stats">
					

					<p>{HOUR_POSTS} &bull; {HOUR_TOPICS} &bull; {HOUR_USERS}<br>

					{USERS_24HOUR_TOTAL} {GUEST_ONLINE_24} {L_LAST_24_HOURS}{L_COLON} <!-- IF not USERS_ACTIVE -->{L_NO_ONLINE_USERS}<!-- ELSE --><!-- BEGIN lastvisit -->{lastvisit.USERNAME_FULL}<!-- IF not lastvisit.S_LAST_ROW -->{L_COMMA_SEPARATOR} <!-- ENDIF --><!-- END lastvisit --><!-- ENDIF -->

					</p>
			</div>
</div>
<!-- ENDIF -->