	<!-- EVENT overall_footer_content_after -->

	</div><!-- .container END -->

	<!-- DEFINE $breadcrumbsPos = 'bottom' -->
	<!-- INCLUDE components/breadcrumbs.html -->

</div><!-- #page-body END -->

<!-- EVENT overall_footer_page_body_after -->

	<!-- IF ST_complex_footer -->
	<footer id="page-footer" class="page-footer page-footer--complex">
		<!-- INCLUDE components/footer_complex.html -->
	<!-- ELSE -->
	<footer id="page-footer" class="page-footer page-footer--basic">
		<!-- INCLUDE components/footer_basic.html -->
	<!-- ENDIF -->

		<div class="copyright">
			<div class="container">

			<div class="pull-left">
			<!-- EVENT overall_footer_copyright_prepend -->
			{CREDIT_LINE}
			<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
			<!-- EVENT overall_footer_copyright_append -->
			</div>

			<div class="slickthemes-footerlink">
				<a href="http://slickthemes.net">
					Design by SlickThemes
				</a>
			</div>

			</div>
		</div>
		<!-- IF U_ACP --><!--<br /><strong><a href="{U_ACP}">{L_ACP}</a></strong>--><!-- ENDIF -->
	</footer>

	<!-- IF DEBUG_OUTPUT --><div class="debug-info"><div class="container">{DEBUG_OUTPUT}</div></div><!-- ENDIF -->
</div><!-- #wrap END -->
</div><!-- .oncanvas-content END -->
</div><!-- .offcanvas-wrapper END -->

<div class="hidden">
	<a id="bottom" class="anchor" accesskey="z"></a>
	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<div id="darkenwrapper" data-ajax-error-title="{L_AJAX_ERROR_TITLE}" data-ajax-error-text="{L_AJAX_ERROR_TEXT}" data-ajax-error-text-abort="{L_AJAX_ERROR_TEXT_ABORT}" data-ajax-error-text-timeout="{L_AJAX_ERROR_TEXT_TIMEOUT}" data-ajax-error-text-parsererror="{L_AJAX_ERROR_TEXT_PARSERERROR}">
		<div id="darken">&nbsp;</div>
</div>

<div id="phpbb_alert" class="phpbb_alert" data-l-err="{L_ERROR}" data-l-timeout-processing-req="{L_TIMEOUT_PROCESSING_REQ}">
		<a href="#" class="alert_close"></a>
		<h3 class="alert_title">&nbsp;</h3><p class="alert_text"></p>
</div>

<div id="phpbb_confirm" class="phpbb_alert">
		<a href="javascript:void(0)" class="alert_close close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></a>
		<div class="alert_text"></div>
</div>

<!-- IF U_ACP and SLICKPANEL_INSTALLED -->
<div id="themepanel-modalbox" data-loaded="false">
	<div class="tpmb-header">
		<a href="javascript:void(0)" class="tpmb-close"><i class="fi fi-window-close"></i></a>
		<a href="{SLICKPANEL_LINK}" title="Open slickpanel in full page" class="tpmb-maximize"><i class="fi fi-window-maximize"></i></a>
		<img class="st-logo" src="{T_THEME_PATH}/images/slickthemes/slickthemes.png" alt="Slickthemes" />
	</div>
	<div class="tpmb-container"></div>
</div>
<!-- ENDIF -->

<script type="text/javascript" src="{T_THEME_PATH}/js/modernizr.custom.js?assets_version={T_ASSETS_VERSION}"></script>

<script type="text/javascript" src="{T_THEME_PATH}/bower_components/jquery/dist/jquery.min.js?assets_version={T_ASSETS_VERSION}"></script>

<!-- IF ST_wysiwyg != 0 -->
	<script type="text/javascript" src="{T_THEME_PATH}/js/sceditor/jquery.sceditor.bbcode.min.js"></script>
	<!-- IF S_USER_LANG != 'en-gb' and S_USER_LANG != 'en-us' and S_USER_LANG != 'en' -->
	<script type="text/javascript" src="{T_THEME_PATH}/js/sceditor/languages/{S_USER_LANG}.js"></script>
	<!-- ENDIF -->
<!-- ENDIF -->

<script type="text/javascript" src="{T_ASSETS_PATH}/javascript/core.js?assets_version={T_ASSETS_VERSION}"></script>

<!-- IF U_ACP and SLICKPANEL_INSTALLED -->
	<script type="text/javascript" src="{T_THEME_PATH}/js/slickpanel.js"></script>
	<script type="text/javascript" src="{T_THEME_PATH}/js/spectrum/spectrum.js"></script>
	<script type="text/javascript" src="{T_THEME_PATH}/js/tab.js"></script>
<!-- ENDIF -->

<!-- INCLUDEJS forum_fn.js -->
<!-- INCLUDEJS ajax.js -->

<script src="{T_THEME_PATH}/js/main.min.js?assets_version={T_ASSETS_VERSION}"></script>

<!-- INCLUDE components/footerjs.html -->

<!-- EVENT overall_footer_after -->

<!-- IF S_PLUPLOAD --><!-- INCLUDE plupload.html --><!-- ENDIF -->
{$SCRIPTS}

<!-- INCLUDE custom/extra_js.html -->
<script type="text/javascript">
<!-- INCLUDE custom/custom.js -->

function updateStreams() {
	$.ajax('http://www.halowheelmen.com/site/forum/twitch_online_count.php')
		.done(function(result) {
			var preHTML = $('li.icon-page-streams a').html();
			var oldCount = preHTML.substr(9,1);
			
  			$('li.icon-page-streams a').html('Streams ('+result+')');
  			
  			
  			if(oldCount != '' && result > oldCount) {
  				//got a new one, let's do fancy things!
  				new Audio('http://www.halowheelmen.com/site/forum/twitchalert.mp3').play();
  				$('li.icon-page-streams a').fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500).fadeOut(500).fadeIn(500);
  			}
  		})
		.fail(function( jqXHR, textStatus, errorThrown){
			console.error( jqXHR, textStatus, errorThrown);
		});
}

updateStreams();
setInterval(updateStreams, 300* 1000); // 300 * 1000 milsec

function setTSA() {
	$.ajax('http://www.halowheelmen.com/site/scripts/threatAlert.php')
		.done(function(result) {
			console.log('sec result',result);
			var preHTML = $('.utility-bar div.container').append(result);			
  		})
		.fail(function( jqXHR, textStatus, errorThrown){
			console.error( jqXHR, textStatus, errorThrown);
		});
}
setTSA();
</script>


<!-- INCLUDE components/analytics.html -->

<!-- EVENT overall_footer_body_after -->



</body>
</html>
