<!-- IF S_MCHAT_ON_INDEX or MCHAT_ARCHIVE_PAGE or MCHAT_CUSTOM_PAGE -->
	<br />
	{META_DISPLAY_NAME} &copy; {L_POST_BY_AUTHOR}
	<ul id="mchat-copyright-footer">
		<!-- BEGIN meta_authors -->
			<li><a href="{meta_authors.AUTHOR_HOMEPAGE}" title="{meta_authors.AUTHOR_NAME}">{meta_authors.AUTHOR_NAME}</a></li>
		<!-- END meta_authors -->
	</ul>
<!-- ENDIF -->
