
<script type="text/javascript">
// <![CDATA[
	var form_name = 'postform';
	var text_name = <!-- IF $SIG_EDIT -->'signature'<!-- ELSE -->'message'<!-- ENDIF -->;
	var load_draft = false;
	var upload = false;

	// Define the bbCode tags
	var bbcode = new Array();
	var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]'<!-- BEGIN custom_tags -->, {custom_tags.BBCODE_NAME}<!-- END custom_tags -->);
	var imageTag = false;

	// Helpline messages
	var help_line = {
		b: '{LA_BBCODE_B_HELP}',
		i: '{LA_BBCODE_I_HELP}',
		u: '{LA_BBCODE_U_HELP}',
		q: '{LA_BBCODE_Q_HELP}',
		c: '{LA_BBCODE_C_HELP}',
		l: '{LA_BBCODE_L_HELP}',
		o: '{LA_BBCODE_O_HELP}',
		p: '{LA_BBCODE_P_HELP}',
		w: '{LA_BBCODE_W_HELP}',
		a: '{LA_BBCODE_A_HELP}',
		s: '{LA_BBCODE_S_HELP}',
		f: '{LA_BBCODE_F_HELP}',
		y: '{LA_BBCODE_Y_HELP}',
		d: '{LA_BBCODE_D_HELP}'
		<!-- BEGIN custom_tags -->
			,cb_{custom_tags.BBCODE_ID}: '{custom_tags.A_BBCODE_HELPLINE}'
		<!-- END custom_tags -->
	}

	function change_palette()
	{
		phpbb.toggleDisplay('colour_palette');
		e = document.getElementById('colour_palette');

		if (e.style.display == 'block')
		{
			document.getElementById('bbpalette').value = '{LA_FONT_COLOR_HIDE}';
		}
		else
		{
			document.getElementById('bbpalette').value = '{LA_FONT_COLOR}';
		}
	}

// ]]>
</script>
<!-- INCLUDEJS {T_ASSETS_PATH}/javascript/editor.js -->

<!-- IF S_BBCODE_ALLOWED -->

<div id="st_editor_buttons" <!-- IF ST_wysiwyg != 0 --> style="display:hidden"<!-- ENDIF -->>
<div id="colour_palette" class="st-editor__colorpalette">
	<div class="st-editor__colorpalette__title">{L_FONT_COLOR}</div>
	<div id="color_palette_placeholder" class="st-editor__colorpalette__colors" data-bbcode="true" data-orientation="h" data-height="12" data-width="15"></div>
</div>

<!-- EVENT posting_editor_buttons_before -->
<div id="format-buttons" class="st-editor__formatbuttons">
	<span class="bbcode-section">
	<button type="button" class="button2 bbcode-b" accesskey="b" name="addbbcode0" value=" B " onclick="bbstyle(0)" title="{L_BBCODE_B_HELP}"><i class="fi fi-format-bold"></i></button>
	<button type="button" class="button2 bbcode-i" accesskey="i" name="addbbcode2" value=" i " onclick="bbstyle(2)" title="{L_BBCODE_I_HELP}"><i class="fi fi-format-italic"></i></button>
	<button type="button" class="button2 bbcode-u" accesskey="u" name="addbbcode4" value=" u " onclick="bbstyle(4)" title="{L_BBCODE_U_HELP}"><i class="fi fi-format-underline"></i></button>
	</span>
	<span class="bbcode-section">
	<button type="button" class="button2 bbcode-list" accesskey="l" name="addbbcode10" value="List" onclick="bbstyle(10)" title="{L_BBCODE_L_HELP}"><i class="fi fi-format-list-bulleted"></i></button>
	<button type="button" class="button2 bbcode-list-" accesskey="o" name="addbbcode12" value="List=" onclick="bbstyle(12)" title="{L_BBCODE_O_HELP}"><i class="fi fi-format-list-numbers"></i></button>
	<button type="button" class="button2 bbcode-asterisk" accesskey="y" name="addlistitem" value="[*]" onclick="bbstyle(-1)" title="{L_BBCODE_LISTITEM_HELP}">[*]</button>
	</span>

	<span class="bbcode-section">
		<button type="button" class="button2 bbcode-code" accesskey="c" name="addbbcode8" value="Code" onclick="bbstyle(8)" title="{L_BBCODE_C_HELP}"><i class="fi fi-code-array"></i></button>
	<!-- IF S_BBCODE_QUOTE -->
		<button type="button" class="button2 bbcode-quote" accesskey="q" name="addbbcode6" value="Quote" onclick="bbstyle(6)" title="{L_BBCODE_Q_HELP}"><i class="fi fi-format-quote"></i></button>
	<!-- ENDIF -->
	<!-- IF S_BBCODE_IMG -->
		<button type="button" class="button2 bbcode-img" accesskey="p" name="addbbcode14" value="Img" onclick="bbstyle(14)" title="{L_BBCODE_P_HELP}"><i class="fi fi-image-area"></i></button>
	<!-- ENDIF -->
	<!-- IF S_SMILIES_ALLOWED and .smiley -->
		<button type="button" onclick="$('#smiley-box').toggle()" class="button2 bbcode-smiley" accesskey="s" title="{L_SMILIES}"><i class="fi fi-emoticon"></i></button>
	<!-- ENDIF -->
	<!-- IF S_LINKS_ALLOWED -->
		<button type="button" class="button2 bbcode-url" accesskey="w" name="addbbcode16" value="URL" onclick="bbstyle(16)" title="{L_BBCODE_W_HELP}"><i class="fi fi-link"></i></button>
	<!-- ENDIF -->
	</span>

	<!-- IF S_BBCODE_FLASH -->
		<button type="button" class="button2 bbcode-flash" accesskey="d" name="addbbcode18" value="Flash" onclick="bbstyle(18)" title="{L_BBCODE_D_HELP}">Flash</button>
	<!-- ENDIF -->

	<select name="addbbcode20" class="bbcode-size" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;" title="{L_BBCODE_F_HELP}">
		<option value="50">{L_FONT_TINY}</option>
		<option value="85">{L_FONT_SMALL}</option>
		<option value="100" selected="selected">{L_FONT_NORMAL}</option>
		<!-- IF not MAX_FONT_SIZE or MAX_FONT_SIZE >= 150 -->
			<option value="150">{L_FONT_LARGE}</option>
			<!-- IF not MAX_FONT_SIZE or MAX_FONT_SIZE >= 200 -->
				<option value="200">{L_FONT_HUGE}</option>
			<!-- ENDIF -->
		<!-- ENDIF -->
	</select>
	<button type="button" class="button2 bbcode-color" name="bbpalette" id="bbpalette" value="{L_FONT_COLOR}" onclick="change_palette();" title="{L_BBCODE_S_HELP}"><i class="fi fi-format-paint"></i></button>

	<!-- EVENT posting_editor_buttons_custom_tags_before -->


		<select name="addbbcode_custom" onchange="bbstyle(this.form.addbbcode_custom.options[this.form.addbbcode_custom.selectedIndex].value*1);this.form.addbbcode_custom.selectedIndex = 0;">
							<option value="#" selected="selected">Custom BBcodes</option>
							<!-- BEGIN custom_tags -->
								<option class="bbcode-{custom_tags.BBCODE_TAG_CLEAN}" name="addbbcode{custom_tags.BBCODE_ID}" value="{custom_tags.BBCODE_ID}"  title="{custom_tags.BBCODE_HELPLINE}">{custom_tags.BBCODE_TAG}</option>
							<!-- END custom_tags -->
		</select>
		
	
</div>
<!-- EVENT posting_editor_buttons_after -->
</div>

<script type="text/javascript">
	_st.onloadfunctions.push(function(){
		//reply page editor
		if (Modernizr.touch && $(window).width() < 1024) {
			return false;
		}
		_st.sceInit = function(){
			$('#message').sceditor({
				plugins: "bbcode",
				enablePasteFiltering: true,
				toolbar: "source,maximize|bold,italic,underline,strike,subscript,superscript|left,center,right|bulletlist,orderedlist|font,size,color,removeformat|image,code,quote,link,unlink|emoticon,youtube,vimeo",
				style: "{T_THEME_PATH}/css/sceditor.css",
				<!-- IF S_SMILIES_ALLOWED -->
				emoticonsRoot: "",
				emoticons: {
					dropdown: {
						<!-- BEGIN smiley -->
						"{smiley.A_SMILEY_CODE}": "{smiley.SMILEY_IMG}"<!-- IF !smiley.S_LAST_ROW -->, <!-- ENDIF -->
						<!-- END smiley -->
					}
				},
				<!-- ELSE -->
				emoticonsEnabled: false,
				<!-- ENDIF -->
				colors: '#fff, #aaa, #555, #000,#16a085,#27ae60,#2980b9,#8e44ad,#2c3e50,#c0392b,#d35400,#f39c12'
			});
			_st.sceditor = $('#message').sceditor('instance');

			$('#st_editor_buttons').hide();
		}
		_st.sceSetup();
	})
</script>

<!-- ENDIF -->
