/**
 *
 * @package phpBB Extension - mChat
 * @copyright (c) 2016 dmzx - http://www.dmzx-web.net
 * @copyright (c) 2016 kasimi
 * @license http://opensource.org/licenses/gpl-2.0.php GNU General Public License v2
 *
 */

#mchat-body {
    color: #fff;
    background-color: #4E4E4E !important;
} 

#mchat-panel{
background: #4E4E4E !important;
width:100%;
}
 
ul#mchat-messages.topiclist li {
	padding: 0;
}

.mchat-wrapper .mchat-buttons > li {
    float: left;
    margin-right: 3px;
}

.mchat-text {
	font-size: 1.1em;
	max-height:390px;
	overflow-y:auto;
}

ul.mchat-buttons > li {
	background: none !important;
}

#mchat-panel.cp-mini .button2 {
	float: none;
	height:auto;
	line-height: 300%;
	
}

#mchat-panel #st_editor_buttons {
	display: block !important;
}

ul.topiclist li.mchat-message {
    border-top: 1px solid #555 !important;
    border-left: 1px solid #555 !important;
	background: #111 !important;
	color: #fff !important;
}

ul.topiclist li.mchat-message:nth-child(2n) {
    background: #222 !important;
}



background: #111 !important;
color: #fff !important;