/**
 *
 * @package phpBB Extension - mChat
 * @copyright (c) 2016 dmzx - http://www.dmzx-web.net
 * @copyright (c) 2016 kasimi
 * @license http://opensource.org/licenses/gpl-2.0.php GNU General Public License v2
 *
 */

.icon-mchat {
	position: relative;
}

.icon-mchat:after {
	content: '\f086';
	font-family: 'FontAwesome';
	width: 18px;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	height: 14px;
	margin-top: -7px;
	font-size: 12px;
	line-height: 14px;
	vertical-align: baseline;
	font-weight: normal;
	font-style: normal;
	text-transform: none;
	text-indent: 0;
	pointer-events: none;
}

.navbar .nav-tabs .mchat .nav-link {
	position: relative;
	text-indent: 999px;
	width: 15px;
	padding: 0 8px;
	overflow: hidden;
}

.navbar .nav-tabs .mchat .nav-link:after {
	content: '\f086';
	font-family: 'FontAwesome';
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	width: 15px;
	line-height: 15px;
	height: 15px;
	font-weight: normal;
	font-style: normal;
	text-indent: 0;
	text-align: center;
	font-size: 15px;
	left:8px
}

.rtl .navbar .nav-tabs .mchat .nav-link {
	padding-left: 12px;
	padding-right: 30px;
}

.rtl .navbar .nav-tabs .mchat .nav-link:after {
	left: auto;
	right: 8px;
}

li.mchat-message:first-child {
	border-top-width: 1px;
	padding-top: 5px;
}

li.mchat-message:last-child {
	border-bottom-width: 1px;
	padding-bottom: 5px;
}
