<!-- INCLUDE overall_header.html -->
<h1>{L_ACP_CALENDAR_SETTINGS}</h1>
<div style="width:660px;margin:10px 0 20px;"> 
	<form action="{U_ACTION}" method="POST">
		<fieldset>
			<dl>
				<dt>
					{L_ACP_CALENDAR_FOR_GUESTS}
				</dt>
				<dd>
					{L_NO} <input type="radio" name="calendar_for_guests" value="0" {CFG0} onchange="this.form.submit();"> &nbsp;
					{L_YES} <input type="radio" name="calendar_for_guests" value="1" {CFG1} onchange="this.form.submit();">
				</dd>
			</dl>
			<dl>
				<dt>
					{L_ACP_BIRTHDAY_ON_CALENDAR} 
				</dt>
				<dd>
					{L_NO} <input type="radio" name="birthday_on_calendar" value="0" {BOC0} onchange="this.form.submit();"> &nbsp;
					{L_YES} <input type="radio" name="birthday_on_calendar" value="1" {BOC1} onchange="this.form.submit();">
				</dd>
			</dl>
			<dl>
				<dt>
					{L_ACP_CALENDAR_ONLY_FIRST_POST} 
				</dt>
				<dd>
					{L_NO} <input type="radio" name="calendar_only_first_post" value="0" {COFP0} onchange="this.form.submit();"> &nbsp;
					{L_YES} <input type="radio" name="calendar_only_first_post" value="1" {COFP1} onchange="this.form.submit();">
				</dd>
			</dl>
			<dl>
				<dt>
					{L_ACP_CALENDAR_NUMBER_OF_WEEKS}
				</dt>
				<dd>
					<input type="number" min="1" name="number_of_weeks" value="{NUMBER_OF_WEEKS}" onchange="this.form.submit();" /> 
				</dd>
			</dl>
			<dl>
				<dt>
					{L_ACP_CALENDAR_NUMBER_PARTICIPATING} 
				</dt>
				<dd>
					{L_NO} <input type="radio" name="calendar_number_participating" value="0" {CNP0} onchange="this.form.submit();"> &nbsp;
					{L_YES} <input type="radio" name="calendar_number_participating" value="1" {CNP1} onchange="this.form.submit();">
				</dd>
			</dl>
			<!-- IF CNP1 -->
				<dl>
					<dt>
						{L_ACP_CALENDAR_PARTICIPANTS_NAME} 
					</dt>
					<dd>
						{L_NO} <input type="radio" name="calendar_participants_name" value="0" {CPN0} onchange="this.form.submit();"> &nbsp;
						{L_YES} <input type="radio" name="calendar_participants_name" value="1" {CPN1} onchange="this.form.submit();">
					</dd>
				</dl>
			<!-- ENDIF -->
		</fieldset>
	</form>
</div>
<!-- INCLUDE overall_footer.html -->