<!-- BEGIN mchatrow -->
<div class="mchat-message <!-- IF S_MCHAT_AVATARS -->mchat-message-avatar <!-- ENDIF -->mchat-bg-<!-- IF mchatrow.S_ROW_COUNT is even -->1<!-- ELSE -->2<!-- ENDIF -->" data-id="{mchatrow.MCHAT_MESSAGE_ID}" data-username="{mchatrow.MCHAT_USERNAME}"<!-- IF mchatrow.MCHAT_USERNAME_COLOR --> data-usercolor="{mchatrow.MCHAT_USERNAME_COLOR}"<!-- ENDIF --> data-edit="{mchatrow.MCHAT_MESSAGE_EDIT}">
	<!-- IF S_MCHAT_AVATARS -->
	<div class="mchat-avatar">
		<!-- IF mchatrow.U_VIEWPROFILE --><a href="{mchatrow.U_VIEWPROFILE}" title="{L_READ_PROFILE}"><!-- ENDIF -->
			<!-- IF mchatrow.MCHAT_USER_AVATAR -->{mchatrow.MCHAT_USER_AVATAR}<!-- ELSE --><img src="{STYLE_PATH}/theme/images/no_avatar.gif" width="40px;" height="40px;" alt="" /><!-- ENDIF -->
		<!-- IF mchatrow.U_VIEWPROFILE --></a><!-- ENDIF -->
	</div>
	<!-- ENDIF -->
	<div class="mchat-message-header">
		<!-- IF not MCHAT_ARCHIVE_MODE --><span class="mchat-mention" data-mchat-action="mention" title="{L_MCHAT_RESPOND}" <!-- IF mchatrow.MCHAT_USERNAME_COLOR --> style="color:{mchatrow.MCHAT_USERNAME_COLOR}"<!-- ENDIF -->><strong>&#64;</strong></span><!-- ENDIF -->
		{mchatrow.MCHAT_USERNAME_FULL} - {mchatrow.MCHAT_TIME}
	</div>
	
	
	
		
	
	<li class="nav-item shoutbox dd-container drop-arrow">
		<a href="javascript:void(0)" id="quickLinksdrop" title="Shoutbox Actions" class="quick-links-dropdown-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
        </a>
        <ul class="dropdown-menu user-view-dropdown-menu" role="menu" >
            <!-- EVENT navbar_header_quick_links_before -->
			
			
<div class="mchat-message-icons">
        <!-- IF MCHAT_ALLOW_PM and mchatrow.MCHAT_PM and mchatrow.U_VIEWPROFILE --><a href="{mchatrow.MCHAT_PM}" title="{L_MCHAT_SEND_PM}" style="font-size:1.7rem; padding-right:5px;color:#555;" ><i class="fi fi-email"></i></a><!-- ENDIF -->
		<!-- IF MCHAT_ALLOW_LIKE and not MCHAT_ARCHIVE_MODE and not mchatrow.MCHAT_IS_POSTER --><a style="font-size:1.7rem; padding-right:5px;color:#555;" title="{L_REPLY_WITH_LIKE}" data-mchat-action="like" ><i class="fi fi-thumb-up"></i></a><!-- ENDIF -->
		<!-- IF MCHAT_ALLOW_QUOTE and not MCHAT_ARCHIVE_MODE and not mchatrow.MCHAT_IS_POSTER --><a style="font-size:1.7rem; padding-right:5px;color:#555;" title="{L_REPLY_WITH_QUOTE}" data-mchat-action="quote" ><i class="fi fi-format-quote"></i></a><!-- ENDIF -->
		<!-- IF MCHAT_ALLOW_IP --><a href="{mchatrow.MCHAT_U_IP}" style="font-size:1.7rem; padding-right:5px;color:#555;" onclick="popup(this.href, 750, 500); return false;"  title="{L_MCHAT_IP} {mchatrow.MCHAT_USER_IP}" ><i class="fi fi-wifi"></i></a><!-- ENDIF -->
		<!-- IF mchatrow.MCHAT_ALLOW_BAN --><a href="{mchatrow.MCHAT_U_BAN}" style="font-size:1.7rem; padding-right:5px;color:#555;" title="{L_MCHAT_PERMISSIONS}" ><i class="fi fi-key-variant"></i></a><!-- ENDIF -->
		<!-- IF mchatrow.MCHAT_ALLOW_EDIT --><a  style="font-size:1.7rem; padding-right:5px;color:#555;" title="{L_MCHAT_EDIT}" data-mchat-action="edit" ><i class="fi fi-pencil"></i></a><!-- ENDIF -->
		<!-- IF mchatrow.MCHAT_ALLOW_DEL --><a  style="font-size:1.7rem; padding-right:5px; color:#555;" title="{L_MCHAT_DELITE}" data-mchat-action="del" ><i class="fi fi-delete"></i></a><!-- ENDIF -->
</div>


            <!-- EVENT navbar_header_quick_links_after -->
        </ul>
	</li>
	
	<br />
	<div class="mchat-text">{mchatrow.MCHAT_MESSAGE}</div>
</div>
<!-- END mchatrow -->
