<!-- INCLUDE overall_header.html -->
	<h1>{L_ACP_CALENDAR_SETTINGS}</h1>
	<form action="{U_ACTION}" method="POST">
		<fieldset>
			<dl>
				<dt>
					{L_ACP_CALENDAR_FOR_GUESTS}
				</dt>
				<dd>
					{L_ACP_CALENDAR_0} <input type="radio" name="calendar_for_guests" value="0" {CFG0} onchange="this.form.submit();"> &nbsp;
					{L_ACP_CALENDAR_1} <input type="radio" name="calendar_for_guests" value="1" {CFG1} onchange="this.form.submit();">
				</dd>
			</dl>
			<dl>
				<dt>
					{L_ACP_BIRTHDAY_ON_CALENDAR} 
				</dt>
				<dd>
					{L_ACP_CALENDAR_0} <input type="radio" name="birthday_on_calendar" value="0" {BOC0} onchange="this.form.submit();"> &nbsp;
					{L_ACP_CALENDAR_1} <input type="radio" name="birthday_on_calendar" value="1" {BOC1} onchange="this.form.submit();">
				</dd>
			</dl>
			<dl>
				<dt>
					{L_ACP_CALENDAR_ONLY_FIRST_POST} 
				</dt>
				<dd>
					{L_ACP_CALENDAR_0} <input type="radio" name="calendar_only_first_post" value="0" {COFP0} onchange="this.form.submit();"> &nbsp;
					{L_ACP_CALENDAR_1} <input type="radio" name="calendar_only_first_post" value="1" {COFP1} onchange="this.form.submit();">
				</dd>
			</dl>
			<dl>
				<dt>
					{L_ACP_CALENDAR_INSTRUCTIONS_TEXT}
				</dt>
				<dd>
					<select name="week_or_next" size="1" onchange="this.form.submit();"> 
					<!-- BEGIN weeknext -->
						{weeknext.SELECT}
					<!-- END weeknext -->
					</select>
				</dd>
			</dl>
			<dl>
				<dt>
					{L_ACP_CALENDAR_INSTRUCTIONS_TEXT_0}
				</dt>
				<dd>
					<select name="week_on_index" size="1" onchange="this.form.submit();"> 
					<!-- BEGIN weekblock -->
						{weekblock.SELECT}
					<!-- END weekblock -->
					</select>
				</dd>
			</dl>
			<dl>
				<dt>
					{L_ACP_CALENDAR_NUMBER_OF_WEEKS}
				</dt>
				<dd>
					<input type="number" min="1" name="number_of_weeks" value="{NUMBER_OF_WEEKS}" onchange="this.form.submit();" /> 
				</dd>
			</dl>
			<dl>
				<dt>
					{L_ACP_CALENDAR_ON_INDEX_OFF}
				</dt>
				<dd>
				<dd>
					{L_ACP_CALENDAR_0} <input type="radio" name="calendar_on_index_off" value="0" {COIO0} onchange="this.form.submit();"> &nbsp;
					{L_ACP_CALENDAR_1} <input type="radio" name="calendar_on_index_off" value="1" {COIO1} onchange="this.form.submit();">
				</dd>
				</dd>
			</dl>
			<dl>
				<dt>
					{L_ACP_CALENDAR_NUMBER_PARTICIPATING} 
				</dt>
				<dd>
					{L_ACP_CALENDAR_0} <input type="radio" name="calendar_number_participating" value="0" {CNP0} onchange="this.form.submit();"> &nbsp;
					{L_ACP_CALENDAR_1} <input type="radio" name="calendar_number_participating" value="1" {CNP1} onchange="this.form.submit();">
				</dd>
			</dl>
			<!-- IF CNP1 -->
				<dl>
					<dt>
						{L_ACP_CALENDAR_PARTICIPANTS_NAME} 
					</dt>
					<dd>
						{L_ACP_CALENDAR_0} <input type="radio" name="calendar_participants_name" value="0" {CPN0} onchange="this.form.submit();"> &nbsp;
						{L_ACP_CALENDAR_1} <input type="radio" name="calendar_participants_name" value="1" {CPN1} onchange="this.form.submit();">
					</dd>
				</dl>
			<!-- ENDIF -->
			<!-- IF CALENDAR_FOOTBALL -->
			<dl>
				<dt>
					{L_ACP_FOOTBALL_ON_CALENDAR} 
				</dt>
				<dd>
					{L_ACP_CALENDAR_0} <input type="radio" name="calendar_football" value="0" {CFB0} onchange="this.form.submit();"> &nbsp;
					{L_ACP_CALENDAR_1} <input type="radio" name="calendar_football" value="1" {CFB1} onchange="this.form.submit();">
				</dd>
			</dl>
			<!-- ENDIF -->
		</fieldset>
	</form>
<!-- INCLUDE overall_footer.html -->