/**
 *
 * @package phpBB Extension - mChat
 * @copyright (c) 2015 dmzx - http://www.dmzx-web.net
 * @license http://opensource.org/licenses/gpl-2.0.php GNU General Public License v2
 *
 */
ul.topiclist li{
	padding:0px;
}

div.mChatBG1 {
	background: #FFF;
	border-top: 1px solid #EFEFEF;
	border-left: 1px solid #EFEFEF;
	padding: 5px;
	color: #333333;
	margin-right: 1px;
	overflow: hidden;
}

div.mChatBG2 {
	background: #FBFBFB;
	border-top: 1px solid #EFEFEF;
	border-left: 1px solid #EFEFEF;
	padding: 5px;
	color: #444444;
	margin-right: 1px;
	text-align: left;
	overflow: hidden;
}
div.mChatRowLimit {
	overflow: auto;
	width: 100%;
}

div.mChatRowLimitCustom {
	overflow: auto;
	width: 100%;
}

div.mChatPanel {
	text-align: center;
	padding: 3px;
	clear: both;
}

input.mChatText {
	cursor: text;
	width: 50%;
	background-color: #FFFFFF;
	border: 1px solid #B4BAC0;
	color: #333333;
	padding: 5px 5px 3px 5px;
	margin: 3px 0px 3px 5px;
}

input.mChatText:hover {
	border-color: #11A3EA;
}

div.mChatHover:hover {
	background-color: #F6F4D0;
}

div.mChatBodyFix {
	width: 100% !important;
	background-color: #E9F0F5 !important;
	padding:0px;
	margin-bottom:15px;
}

div.mChatStatic {
	padding-left: 5px;
	text-align: left;
	font-size: 1.1em;
}

div.mChatStats {
	padding-left: 5px;
	margin-top: 2px;
	text-align: left;
	min-height: 1.3em;
	font-size: 1.1em;
	height: auto !important;
}

div.mChatRefresh {
	padding-left: 5px;
	text-align: left;
	font-size: 1.1em;
	margin-top: 1.5em;
	clear: both;
}

input.mChatColor {
	width: 100%;
	text-align: center;
	background-color: #DEE3E7;
	border-style: none;
}

div.mChatMessage {
	padding: 3px;
	font-size: 1.1em;
	width: 98%;

}

div.mChatMessage li {
	margin-left: 30px;
}

div.mChatMessage blockquote {
	margin: 2px 0;
}

a.mChatScriptLink {
	text-decoration: none;
}

img.mChatImage {
	margin-top: -4px;
	vertical-align: middle;
}

div.mChatMessageHeader {
	float: left;
}

div.mChatMessageIcons {
	float: right;
}

img.mChatImage, span.mChatInsertMention {
	cursor: pointer;
}

img.mChatImageLoad {
	vertical-align: middle;
	cursor: wait;
	display: none;
}

img.mChatImageOk {
	vertical-align: middle;
	cursor: help;
}

img.mChatImageHideImg {
	vertical-align: middle;
	cursor: help;
	display: none;
}

div.mChatSound {
	position: absolute;
	left: -1000px;
	top: -1000px;
}

.mchat_alert {
	color: #7E2217;
	padding: 10px;
}

#mChatUserList {
	display: none;
	float: left;
}

.mChatAvatars {
	float: left;
	padding-right: 5px;
}

div.avatarMessage {
	margin-left: 50px;
	width: 90%;
	margin-right: 5px;
}

#mChatConfirm textarea {
	width: 100%;
	height: 100px;
}
