<!-- IF CALENDAR_ALLOWED -->
<tr>
	<td class="row1" valign="top">
		<b class="genmed">{L_CALENDAR}:</b>
	</td>
	<td class="row2" valign="top">
		<table style="margin-bottom:5px">
			<tr>
				<td>
					{L_CALENDAR_EVENT_NAME}
				</td>
				<td>
					<input name="event_name" type="text" size="23" value="{EVENT_NAME}">
				</td>
			</tr>
			<tr>
				<td>
					{L_CALENDAR_EVENT} 
				</td>
				<td>
					<select name="event"> 
						<!-- BEGIN eventselect -->
							{eventselect.SELECT}
						<!-- END eventselect -->
					</select>
				</td>
			</tr>
			<tr>
				<td>
					{L_CALENDAR_FROM} 
				</td>
				<td>
					<select name="from_day">
						<!-- BEGIN from_day -->
							{from_day.SELECT}
						<!-- END from_day -->
					</select>
					<select name="from_month">
						<!-- BEGIN from_month -->
							{from_month.SELECT}
						<!-- END from_month -->
					</select>
					<select name="from_year">
						<!-- BEGIN from_year -->
							{from_year.SELECT}
						<!-- END from_year -->
					</select>
				</td>
			</tr>
			<tr>
				<td>
					{L_CALENDAR_TO}
				</td>
				<td>
					<select name="to_day">
						<!-- BEGIN to_day -->
							{to_day.SELECT}
						<!-- END to_day -->
					</select>
					<select name="to_month">
						<!-- BEGIN to_month -->
							{to_month.SELECT}
						<!-- END to_month -->
					</select>
					<select name="to_year">
						<!-- BEGIN to_year -->
							{to_year.SELECT}
						<!-- END to_year -->
					</select>
				</td>
			</tr>
		</table>
	</td>
</tr>

<!-- ENDIF -->