	<!-- IF !S_CALENDAR -->
		<!-- IF S_WEEK_OR_NEXT == 1 ||  S_WEEK_OR_NEXT == 3 -->
			<table id="index_calendar" class="tablebg">
				<thead>
					<tr>
						<!-- BEGIN weekday -->
							<th>
								<span class="day">{weekday.DAY}</span><span class="sday">{weekday.SDAY}</span>
							</th>
						<!-- END weekday -->
					</tr>
				</thead>
				<tbody>
					<!-- BEGIN day -->
						{day.TD}	
						<div class="cal_day">{day.DATE}	
							<!-- BEGIN day.cdh -->
								{day.cdh.HDAY}
								<!-- IF day.cdh.EVENT_NAME -->
										<!-- IF day.cdh.LINK -->
											<a class="eventbg" style="color:#{day.cdh.COLOR};<!-- IF day.cdh.BCOLOR -->background-color:#{day.cdh.BCOLOR};<!-- ENDIF-->" title="{day.cdh.SUBJECT}" href="{day.cdh.LINK}">{day.cdh.EVENT_NAME}</a><br />
										<!-- ELSE -->
											<span class="eventbg" style="color:#{day.cdh.COLOR};<!-- IF day.cdh.BCOLOR -->background-color:#{day.cdh.BCOLOR};<!-- ENDIF-->" title="{day.cdh.SUBJECT}">{day.cdh.EVENT_NAME}</span><br />
										<!-- ENDIF -->
								<!-- ENDIF -->
							<!-- END day.cdh -->
						{day.TDE}
					<!-- END day -->	
				</tbody>
			</table>
		<!-- ENDIF -->
		<!-- IF S_WEEK_OR_NEXT == 2 ||  S_WEEK_OR_NEXT == 3 -->
			<table id="index_calendar" class="tablebg">
				<tbody>
					<tr>
						<!-- BEGIN event -->
							<td class="bg1" style="color:#105289;padding:3px;text-align:center;">
								{event.EVENT}
							</td>
							<!-- IF event.BREAK -->
								</tr><tr>
							<!-- ENDIF -->
						<!-- END event -->
					</tr>
				</tbody>
			</table>
		<!-- ENDIF -->
	<!-- ENDIF -->
