/**
 *
 * @package phpBB Extension - mChat
 * @copyright (c) 2016 dmzx - http://www.dmzx-web.net
 * @copyright (c) 2016 kasimi
 * @license http://opensource.org/licenses/gpl-2.0.php GNU General Public License v2
 *
 */

ul#mchat-messages.topiclist li {
	padding: 0;
}

#mchat-panel{
background-color: #E9F0F5;
width: 100%;
}

.mchat-wrapper .mchat-buttons > li {
    float: left;
    margin-right: 3px;
}

ul.topiclist li.mchat-message {
    border-top: 1px solid #EFEFEF;
    border-left: 1px solid #EFEFEF;
}


.mchat-text {
	font-size: 1.1em;
	max-height:390px;
	overflow-y:auto;
}

ul.mchat-buttons > li {
	background: none !important;
}

#mchat-panel.cp-mini .button2 {
	float: none;
	height:auto;
	line-height: 300%;
}

#mchat-panel #st_editor_buttons {
	display: block !important;
}
