<!-- IF CAN_CHANGE_ROLE -->
<fieldset>	
	<dl>
		<dt><label for="user_rank">Role{L_COLON}</label></dt>
		<dd><select name="user_rank" id="user_rank">{S_RANK_OPTIONS}</select></dd>
	</dl>
</fieldset>
<!-- ENDIF -->