<!-- IF CALENDAR_ALLOWED -->
		<fieldset class="fields2 bg2 cal_post">
			<legend><strong>{L_CALENDAR}</strong></legend>
			<dl>
				<dt>
					{L_CALENDAR_EVENT_NAME}
				</dt>
				<dd>
					<input name="event_name" type="text" size="23" value="{EVENT_NAME}">
				</dd>
			</dl>
			<dl>
				<dt>
					{L_CALENDAR_EVENT} 
				</dt>
				<dd>
					<select name="event"> 
						<!-- BEGIN eventselect -->
							{eventselect.SELECT}
						<!-- END eventselect -->
					</select>
				</dd>
			</dl>
			<dl>
				<dt>
					{L_CALENDAR_FROM} 
				</dt>
				<dd>
					<select name="from_day">
						<!-- BEGIN from_day -->
							{from_day.SELECT}
						<!-- END from_day -->
					</select>
					<select name="from_month">
						<!-- BEGIN from_month -->
							{from_month.SELECT}
						<!-- END from_month -->
					</select>
					<select name="from_year">
						<!-- BEGIN from_year -->
							{from_year.SELECT}
						<!-- END from_year -->
					</select>
				</dd>
				<br />
				<dd>
					<select name="start_hour">
						<!-- BEGIN start_hour -->
							{start_hour.SELECT}
						<!-- END start_hour -->
					</select>
					<select name="start_min">
						<!-- BEGIN start_min -->
							{start_min.SELECT}
						<!-- END start_min -->
					</select>
					<select name="am_pm">
						<!-- BEGIN am_pm -->
							{am_pm.SELECT}
						<!-- END am_pm -->
					</select>
					<select name="tzone">
						<!-- BEGIN tzone -->
							{tzone.SELECT}
						<!-- END tzone -->
					</select>
				</dd>
			</dl>
			<dl>
				<dt>
					{L_CALENDAR_TO}
				</dt>
				<dd>
					<select name="to_day">
						<!-- BEGIN to_day -->
							{to_day.SELECT}
						<!-- END to_day -->
					</select>
					<select name="to_month">
						<!-- BEGIN to_month -->
							{to_month.SELECT}
						<!-- END to_month -->
					</select>
					<select name="to_year">
						<!-- BEGIN to_year -->
							{to_year.SELECT}
						<!-- END to_year -->
					</select>
				</dd>
				<br />
				<dd>
					<select name="end_hour">
						<!-- BEGIN end_hour -->
							{end_hour.SELECT}
						<!-- END end_hour -->
					</select>
					<select name="end_min">
						<!-- BEGIN end_min -->
							{end_min.SELECT}
						<!-- END end_min -->
					</select>
					<select name="end_am_pm">
						<!-- BEGIN end_am_pm -->
							{end_am_pm.SELECT}
						<!-- END end_am_pm -->
					</select>
				</dd>
			</dl>
<!-- Erweiterung wiederholter Termin -->			
			<dl>
				<dt>
					{L_CALENDAR_REPEAT}
				</dt>
				<dd>
					{L_YES} <input type="radio" name="calendar_repeat" value="1" {CR1} onclick="phpbb.toggleDisplay('repeatable', 1)"> &nbsp;
					{L_NO} <input type="radio" name="calendar_repeat" value="0" {CR0}  onclick="phpbb.toggleDisplay('repeatable', -1)"> 
					
				</dd>
			</dl>
			
			<div id="repeatable" style="margin-bottom: 10px;  <!-- IF CR0 -->display: none;<!-- ENDIF -->">
			<dl>
				<dt>
				</dt>
				<dd>
					<input type="radio" name="calendar_repeat_dm" value="1" {CRD} > &nbsp;
					{L_CALENDAR_REPEAT_DAYS_1}
					<input name="calendar_repeat_day_number" type="number" style="width:45px;" value="{CALENDAR_REPEAT_DAY_NUMBER}">
					{L_CALENDAR_REPEAT_DAYS_2}
				</dd>
			</dl>
			<dl>
				<dt>
				</dt>
				<dd>
					<input type="radio" name="calendar_repeat_dm" value="0" {CRM} > &nbsp;
					{L_CALENDAR_REPEAT_MONTH_1}
					<input name="calendar_repeat_month_number" type="number" style="width:45px;" value="{CALENDAR_REPEAT_MONTH_NUMBER}">
					{L_CALENDAR_REPEAT_MONTH_2}
				</dd>
			</dl>
			</div>
			
		</fieldset>
<!-- ENDIF -->