<div class="sidebar-widget">

<div class="widget-header">
	<i class="widget-icon fi fi-calendar"></i>
	<a href="{U_CALENDAR}">This Weeks Events</a>
</div>
<div id="index_calendar">
	
			<div class="forumbg">
				
						<!-- BEGIN day -->
						
								
							<div class="cal_day_sidebar">{day.DATE}<span class="day_sidebar">{day.WD}</span>
								<span>{day.HDAY}</span>
								<div style="clear: left">	
								</div>
								<!-- BEGIN day.cdh -->
									<!-- IF day.cdh.EVENT_NAME -->
										<span class="sday">
											<!-- IF day.cdh.LINK --><a<!-- ELSE --><span<!-- ENDIF--> class="eventbg" style="<!-- IF day.cdh.COLOR -->color:#{day.cdh.COLOR};<!-- ENDIF--><!-- IF day.cdh.BCOLOR -->background-color:#{day.cdh.BCOLOR};<!-- ENDIF--><!-- IF day.cdh.BIG -->font-weight:bold;<!-- ENDIF-->"<!-- IF day.cdh.EVENT_TITLE --> title="{day.cdh.EVENT_TITLE}<!-- IF day.cdh.PART -->{day.cdh.TR}{day.cdh.PART}<!-- ENDIF-->"<!-- ENDIF--><!-- IF day.cdh.LINK --> href="{day.cdh.LINK}"<!-- ENDIF--> >
											{day.cdh.EVENT_NAME}<!-- IF day.cdh.NR --> [{day.cdh.NR}]<!-- ENDIF--><!-- IF day.cdh.EVENT_TIME --> {day.cdh.EVENT_TIME}<!-- ENDIF-->
											<!-- IF day.cdh.LINK --></a><!-- ELSE --></span><!-- ENDIF-->
										</span>
										<span class="mobl_day">
											<!-- IF day.cdh.LINK --><a<!-- ELSE --><span<!-- ENDIF--> class="eventbg" style="line-height:2em;<!-- IF day.cdh.COLOR -->color:#{day.cdh.COLOR};<!-- ENDIF--><!-- IF day.cdh.BCOLOR -->background-color:#{day.cdh.BCOLOR};<!-- ENDIF--><!-- IF day.cdh.BIG -->font-weight:bold;<!-- ENDIF-->"<!-- IF day.cdh.LINK --> href="{day.cdh.LINK}"<!-- ENDIF--> >
											{day.cdh.EVENT_NAME} <!-- IF day.cdh.NR -->[{day.cdh.NR}]<!-- ENDIF--><!-- IF day.cdh.EVENT_TIME --> {day.cdh.EVENT_TIME}<!-- ENDIF-->
											<!-- IF day.cdh.LINK --></a><!-- ELSE --></span><!-- ENDIF-->
										</span>
										<br />
									<!-- ENDIF -->
								<!-- END day.cdh -->
							</div>
						
						<!-- END day -->	
					
			</div>
	
	
</div>
</div>