<!-- IF not S_IS_BOT -->
	<!-- DEFINE $MCHAT_ALLOW_MENTION = MCHAT_ALLOW_USE and not mchatrow.MCHAT_IS_POSTER and not MCHAT_IS_ARCHIVE_PAGE -->
	<!-- DEFINE $MCHAT_ALLOW_QUOTE = MCHAT_ALLOW_USE and S_BBCODE_ALLOWED and MCHAT_ALLOW_QUOTE and not MCHAT_IS_ARCHIVE_PAGE -->
	<!-- DEFINE $MCHAT_ALLOW_LIKE = MCHAT_ALLOW_USE and S_BBCODE_ALLOWED and MCHAT_ALLOW_LIKE and not MCHAT_IS_ARCHIVE_PAGE and not mchatrow.MCHAT_IS_POSTER -->
	<!-- DEFINE $MCHAT_ALLOW_PM = MCHAT_ALLOW_PM and mchatrow.MCHAT_PM and mchatrow.U_VIEWPROFILE -->
	<!-- DEFINE $MCHAT_ALLOW_EDIT = mchatrow.MCHAT_ALLOW_EDIT and not mchatrow.MCHAT_IS_NOTIFICATION -->
	<!-- DEFINE $MCHAT_ALLOW_DEL = mchatrow.MCHAT_ALLOW_DEL -->
	<!-- IF $MCHAT_ALLOW_MENTION or $MCHAT_ALLOW_QUOTE or $MCHAT_ALLOW_LIKE or $MCHAT_ALLOW_PM or MCHAT_ALLOW_IP or MCHAT_ALLOW_PERMISSIONS or $MCHAT_ALLOW_EDIT or $MCHAT_ALLOW_DEL -->
		
		
		<div class="nav-item shoutbox dd-container drop-arrow">
		<a href="javascript:void(0)" id="quickLinksdrop" title="Shoutbox Actions" class="quick-links-dropdown-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
        </a>
        <div class="dropdown-menu user-view-dropdown-menu" role="menu" >
            <!-- EVENT navbar_header_quick_links_before -->
		
		<ul class="mchat-buttons">
			<!-- IF $MCHAT_ALLOW_MENTION --><li><a style="font-size:1.7rem; padding-right:5px;color:#555;"href="#" title="{L_MCHAT_RESPOND}" data-mchat-action="mention"><i class="fi fi-mail-ru"><span>{L_MCHAT_RESPOND}</span></i></a></li><!-- ENDIF -->
			<!-- IF $MCHAT_ALLOW_QUOTE --><li><a style="font-size:1.7rem; padding-right:5px;color:#555;"href="#" title="{L_REPLY_WITH_QUOTE}" data-mchat-action="quote"><i class="fi fi-format-quote"><span>{L_REPLY_WITH_QUOTE}</span></i></a></li><!-- ENDIF -->
			<!-- IF $MCHAT_ALLOW_LIKE --><li><a style="font-size:1.7rem; padding-right:5px;color:#555;"href="#" title="{L_MCHAT_LIKE}" data-mchat-action="like"><i class="fi fi-thumb-up"><span>{L_MCHAT_LIKE}</span></i></a></li><!-- ENDIF -->
			<!-- IF $MCHAT_ALLOW_PM --><li><a style="font-size:1.7rem; padding-right:5px;color:#555;"href="{mchatrow.MCHAT_PM}" title="{L_MCHAT_SEND_PM}"><i class="fi fi-email"><span>{L_MCHAT_SEND_PM}</span></i></a></li><!-- ENDIF -->
			<!-- IF MCHAT_ALLOW_IP --><li><a style="font-size:1.7rem; padding-right:5px;color:#555;"href="{mchatrow.MCHAT_U_IP}" title="{mchatrow.MCHAT_WHOIS_USER}" data-mchat-action="ip"><i class="fi fi-wifi"><span>{mchatrow.MCHAT_WHOIS_USER}</span></i></a></li><!-- ENDIF -->
			<!-- IF MCHAT_ALLOW_PERMISSIONS --><li><a style="font-size:1.7rem; padding-right:5px;color:#555;"href="{mchatrow.MCHAT_U_PERMISSIONS}" title="{L_MCHAT_PERMISSIONS}"><i class="fi fi-key-variant"><span>{L_MCHAT_PERMISSIONS}</span></i></a></li><!-- ENDIF -->
			<!-- IF $MCHAT_ALLOW_EDIT --><li><a style="font-size:1.7rem; padding-right:5px;color:#555;"href="#" title="{L_MCHAT_EDIT}" data-mchat-action="edit"><i class="fi fi-pencil"><span>{L_MCHAT_EDIT}</span></i></a></li><!-- ENDIF -->
			<!-- IF $MCHAT_ALLOW_DEL --><li><a style="font-size:1.7rem; padding-right:5px;color:#555;"href="#" title="{L_DELETE}" data-mchat-action="del"><i class="fi fi-delete"><span>{L_DELETE}</span></i></a></li><!-- ENDIF -->
		</ul>
		
		
		<!-- EVENT navbar_header_quick_links_after -->
        </div>
		</div>
		
		
		
		
		
	<!-- ENDIF -->
<!-- ENDIF -->
