/**
 *
 * @package phpBB Extension - mChat
 * @copyright (c) 2015 dmzx - http://www.dmzx-web.net
 * @license http://opensource.org/licenses/gpl-2.0.php GNU General Public License v2
 *
 */
 ul.topiclist li{
	padding:0px;
} 

dl.icon dt{
margin-bottom:0px;
}
 
dl.icon dt a{
color:inherit;
}
 
.mchat-message {
	border-top: 1px solid #EFEFEF;
	border-left: 1px solid #EFEFEF;
	padding: 5px;
	overflow: hidden;
}

.mchat-message:hover {
	background-color: #F6F4D0;
}

.mchat-bg-1 {
	background: #FFF;
	color: #333333;
}

.mchat-bg-2 {
	background: #FBFBFB;
	color: #444444;
}

.mchat-row-limit {
	overflow: auto;
	width: 100%;
}

.mchat-panel {
	text-align: center;
	padding: 3px;
	clear: both;
}

#mchat-input {
	cursor: text;
	width: 50%;
	background-color: #FFFFFF;
	border: 1px solid #B4BAC0;
	color: #333333;
	font-size: 1.1em;
	padding: 5px 5px 3px 5px;
	margin: 3px 0px 3px 5px;
}

#mchat-input:hover {
	border-color: #11A3EA;
}

#mchat-body {
	width: 100% !important;
	background-color: #E9F0F5 !important;
	padding:1px;
	margin-bottom:15px;
}


#mchat-static, #mchat-stats, #mchat-whois, .mchat-refresh {
	padding-left: 5px;
	text-align: left;
	font-size: 1.1em;
}

#mchat-static {
	color: #990000;
}

#mchat-stats, #mchat-whois {
	margin-top: 2px;
	min-height: 1.3em;
	height: auto !important;
}

.mchat-refresh {
	margin-top: 1.5em;
	clear: both;
}

.mchat-text {
	padding: 3px;
	font-size: 1.1em;
	word-wrap: break-word;
}

.mchat-text ul {
	margin-left: 10px;
}

.mchat-text blockquote {
	margin: 5px 0 0 10px
}

.mchat-panel-image {
	margin-top: -4px;
	vertical-align: middle;
}

.mchat-message-header {
	float: left;
}


.mchat-message-icons {
	text-align: center;
	
}

.shoutbox .dropdown-menu{
min-width:200px;
right:-25px;
}

.mchat-mention, .mchat-message-icons > * {
	cursor: pointer;
}


#mchat-smilies {
	padding: 5px;
}

#mchat-refresh-load {
	vertical-align: middle;
	cursor: wait;
	display: none;
}

#mchat-refresh-ok {
	vertical-align: middle;
	cursor: help;
}

#mchat-refresh-error, #mchat-refresh-paused {
	vertical-align: middle;
	cursor: help;
	display: none;
}

#mchat-sound {
	position: absolute;
	left: -1000px;
	top: -1000px;
}

#mchat-status {
	padding: 5px;
}

.mchat-alert {
	color: #7E2217;
	padding: 10px;
}

#mchat-userlist {
	float: left;
}

.mchat-avatar {
	float: left;
	padding-right: 5px;
}

.mchat-message-avatar .mchat-text {
	margin-left: 50px;
	margin-right: 5px;
}

#mchat-confirm textarea {
	width: 100%;
	height: 100px;
}

#mchat-colour {
	margin-top: 5px;
}

#mchat-colour table {
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 1px;
}

#mchat-bbcodes {
	padding: 5px;
	display: none;
}
