<!-- IF CALENDAR_ALLOWED -->
		<fieldset class="fieldset_event" >
			<legend><b>{L_CALENDAR}</b></legend>
			<dl>
				<dt>
					{L_CALENDAR_EVENT_NAME}
				</dt>
				<dd>
					<input name="event_name" type="text" size="23" value="{EVENT_NAME}">
				</dd>
			</dl>
			<dl>
				<dt>
					{L_CALENDAR_EVENT} 
				</dt>
				<dd>
					<select name="event"> 
						<!-- BEGIN eventselect -->
							{eventselect.SELECT}
						<!-- END eventselect -->
					</select>
				</dd>
			</dl>
			<dl>
				<dt>
					{L_CALENDAR_FROM} 
				</dt>
				<dd>
					<select name="from_month">
						<!-- BEGIN from_month -->
							{from_month.SELECT}
						<!-- END from_month -->
					</select>
					<select name="from_day">
						<!-- BEGIN from_day -->
							{from_day.SELECT}
						<!-- END from_day -->
					</select>
					<select name="from_year">
						<!-- BEGIN from_year -->
							{from_year.SELECT}
						<!-- END from_year -->
					</select>
				</dd>
				<dd>
				<select name="start_hour">
						<!-- BEGIN start_hour -->
							{start_hour.SELECT}
						<!-- END start_hour -->
					</select>
					<select name="start_min">
						<!-- BEGIN start_min -->
							{start_min.SELECT}
						<!-- END start_min -->
					</select>
					<select name="am_pm">
						<!-- BEGIN am_pm -->
							{am_pm.SELECT}
						<!-- END am_pm -->
					</select>
					<select name="tzone">
						<!-- BEGIN tzone -->
							{tzone.SELECT}
						<!-- END tzone -->
					</select>
				</dd>
			</dl>
			<dl>
				<dt>
					{L_CALENDAR_TO}
				</dt>
				<dd>
					<select name="to_month">
						<!-- BEGIN to_month -->
							{to_month.SELECT}
						<!-- END to_month -->
					</select>
					<select name="to_day">
						<!-- BEGIN to_day -->
							{to_day.SELECT}
						<!-- END to_day -->
					</select>
					<select name="to_year">
						<!-- BEGIN to_year -->
							{to_year.SELECT}
						<!-- END to_year -->
					</select>
					
					
				</dd>
			</dl>
		</fieldset>
<!-- ENDIF -->