<div id="index_calendar">
	
	<!-- IF S_WEEK_OR_NEXT == 2 ||  S_WEEK_OR_NEXT == 3 -->
		
		<div class="event">
		<a href="{U_CALENDAR}">Upcoming Events</a>
			<!-- BEGIN event -->
			
				<div class="event-box">
					{event.EVENT}
				</div>
				
			<!-- END event -->
		</div>
		
	<!-- ENDIF -->
</div>
