<div class="sidebar-widget">

<div class="widget-header">
	<i class="widget-icon fi fi-calendar"></i>
	<a href="{U_CALENDAR}">This Weeks Events</a>
</div>
<div id="index_calendar">
	
			<div class="forumbg">
				<table>
		
					<tbody>
						
					
						<!-- BEGIN day -->
						<tr>
							{day.TD}	
							<div class="cal_day_sidebar">{day.DATE}<span class="day_sidebar">{day.DAY}</span><span class="sday_sidebar">{day.SDAY}</span>	
								<!-- BEGIN day.cdh -->
									{day.cdh.HDAY}
									<!-- IF day.cdh.EVENT_NAME -->
										<!-- IF day.cdh.LINK -->
											<div class="calevent"><a class="eventbg" style="color:#{day.cdh.COLOR};<!-- IF day.cdh.BCOLOR -->background-color:#{day.cdh.BCOLOR};<!-- ENDIF-->" title="{day.cdh.SUBJECT}" href="{day.cdh.LINK}">{day.cdh.EVENT_NAME} {day.cdh.START_TIME}</a></div><br />
										<!-- ELSE -->
											<div class="calevent"><span class="eventbg" style="color:#{day.cdh.COLOR};<!-- IF day.cdh.BCOLOR -->background-color:#{day.cdh.BCOLOR};<!-- ENDIF-->" title="{day.cdh.SUBJECT}">{day.cdh.EVENT_NAME}</span></div><br />
										<!-- ENDIF -->
									<!-- ENDIF -->
								<!-- END day.cdh -->
							{day.TDE}
						</tr>
						<!-- END day -->	
					</tbody>
				</table>
			</div>
	
	
</div>
</div>