				<div id="mChatBBCodes" style="padding: 5px; display: none;">
				<fieldset class="fields1">
					<script type="text/javascript">
					// <![CDATA[
						var form_name = 'postform';
						var text_name = 'message';

						// Define the bbCode tags
						var bbcode = new Array();
						var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]'<!-- BEGIN custom_tags -->, {custom_tags.BBCODE_NAME}<!-- END custom_tags -->);
						// Helpline messages
						var help_line = {
							b: '{LA_BBCODE_B_HELP}',
							i: '{LA_BBCODE_I_HELP}',
							u: '{LA_BBCODE_U_HELP}',
							q: '{LA_BBCODE_Q_HELP}',
							c: '{LA_BBCODE_C_HELP}',
							l: '{LA_BBCODE_L_HELP}',
							o: '{LA_BBCODE_O_HELP}',
							p: '{LA_BBCODE_P_HELP}',
							w: '{LA_BBCODE_W_HELP}',
							a: '{LA_BBCODE_A_HELP}',
							s: '{LA_BBCODE_S_HELP}',
							f: '{LA_BBCODE_F_HELP}',
							e: '{LA_BBCODE_E_HELP}',
							d: '{LA_BBCODE_D_HELP}',
							tip: '{LA_STYLES_TIP}'
							<!-- BEGIN custom_tags -->
								,cb_{custom_tags.BBCODE_ID}: '{custom_tags.A_BBCODE_HELPLINE}'
							<!-- END custom_tags -->
						}

					// ]]>
					</script>
						<!-- INCLUDEJS {T_ASSETS_PATH}/javascript/editor.js -->
						<!-- INCLUDE mchat_color.html -->
						<div id="st_editor_buttons">
							<div id="format-buttons" class="st-editor__formatbuttons">
							<span class="bbcode-section">
							<button type="button" class="button2 bbcode-b" accesskey="b" name="addbbcode0" value=" B " onclick="bbstyle(0)" title="{L_BBCODE_B_HELP}"><i class="fi fi-format-bold"></i></button>
							<button type="button" class="button2 bbcode-i" accesskey="i" name="addbbcode2" value=" i " onclick="bbstyle(2)" title="{L_BBCODE_I_HELP}"><i class="fi fi-format-italic"></i></button>
							<button type="button" class="button2 bbcode-u" accesskey="u" name="addbbcode4" value=" u " onclick="bbstyle(4)" title="{L_BBCODE_U_HELP}"><i class="fi fi-format-underline"></i></button>
							</span>
							<span class="bbcode-section">
							<button type="button" class="button2 bbcode-list" accesskey="l" name="addbbcode10" value="List" onclick="bbstyle(10)" title="{L_BBCODE_L_HELP}"><i class="fi fi-format-list-bulleted"></i></button>
							<button type="button" class="button2 bbcode-list-" accesskey="o" name="addbbcode12" value="List=" onclick="bbstyle(12)" title="{L_BBCODE_O_HELP}"><i class="fi fi-format-list-numbers"></i></button>
							<button type="button" class="button2 bbcode-asterisk" accesskey="y" name="addlistitem" value="[*]" onclick="bbstyle(-1)" title="{L_BBCODE_LISTITEM_HELP}">[*]</button>
							</span>

							<span class="bbcode-section">
								<button type="button" class="button2 bbcode-code" accesskey="c" name="addbbcode8" value="Code" onclick="bbstyle(8)" title="{L_BBCODE_C_HELP}"><i class="fi fi-code-array"></i></button>
							<!-- IF S_MCHAT_BBCODE_QUOTE -->
								<button type="button" class="button2 bbcode-quote" accesskey="q" name="addbbcode6" value="Quote" onclick="bbstyle(6)" title="{L_BBCODE_Q_HELP}"><i class="fi fi-format-quote"></i></button>
							<!-- ENDIF -->
							<!-- IF S_MCHAT_BBCODE_IMG -->
								<button type="button" class="button2 bbcode-img" accesskey="p" name="addbbcode14" value="Img" onclick="bbstyle(14)" title="{L_BBCODE_P_HELP}"><i class="fi fi-image-area"></i></button>
							<!-- ENDIF -->
							<!-- IF S_MCHAT_BBCODE_URL -->
								<button type="button" class="button2 bbcode-url" accesskey="w" name="addbbcode16" value="URL" onclick="bbstyle(16)" title="{L_BBCODE_W_HELP}"><i class="fi fi-link"></i></button>
							<!-- ENDIF -->
							</span>

							<!-- IF S_MCHAT_BBCODE_FLASH -->
								<button type="button" class="button2 bbcode-flash" accesskey="d" name="addbbcode18" value="Flash" onclick="bbstyle(18)" title="{L_BBCODE_D_HELP}">Flash</button>
							<!-- ENDIF -->

							<select name="addbbcode20" class="bbcode-size" onchange="bbfontstyle('[size=' + this.form.addbbcode20.options[this.form.addbbcode20.selectedIndex].value + ']', '[/size]');this.form.addbbcode20.selectedIndex = 2;" title="{L_BBCODE_F_HELP}">
								<option value="50">{L_FONT_TINY}</option>
								<option value="85">{L_FONT_SMALL}</option>
								<option value="100" selected="selected">{L_FONT_NORMAL}</option>
								<!-- IF not MAX_FONT_SIZE or MAX_FONT_SIZE >= 150 -->
									<option value="150">{L_FONT_LARGE}</option>
									<!-- IF not MAX_FONT_SIZE or MAX_FONT_SIZE >= 200 -->
										<option value="200">{L_FONT_HUGE}</option>
									<!-- ENDIF -->
								<!-- ENDIF -->
							</select>
							<!-- IF S_MCHAT_BBCODE_COLOR -->
								<button type="button" class="button2 bbcode-color" name="bbpalette" id="bbpalette" value="{L_FONT_COLOR}" onclick="mChat.toggle('Colour');" title="{L_BBCODE_S_HELP}"><i class="fi fi-format-paint"></i></button>
							<!-- ENDIF -->
							
							
							<!-- IF .custom_tags -->
							<select name="addbbcode_custom" onchange="this.form.addbbcode_custom.selectedIndex = 0;">
													<option value="#" selected="selected">Custom BBcodes</option>
													<!-- BEGIN custom_tags -->
														<option name="addbbcode{custom_tags.BBCODE_ID}" value="{custom_tags.BBCODE_TAG}" onclick="bbstyle({custom_tags.BBCODE_ID})" title="{custom_tags.BBCODE_HELPLINE}">{custom_tags.BBCODE_TAG}</option>
													<!-- END custom_tags -->
							</select>
							<!-- ENDIF -->	
							
						</div>
					</div>
					</fieldset>
				</div>