#header_bevor {
	background-color: #fff;
    border-color: #e6e9ed;
	border-radius: 8px;
    margin: 0 auto;
    max-width: 1152px;
    padding: 0 15px;
}
@media only screen and (max-width: 1220px), only screen and (max-device-width: 1220px) {
#header_bevor{
    margin: 0 12px;
}
}
#index_calendar .forumbg, #calendar .forumbg {
	overflow: hidden; 
	padding:3px;
}

.cal_day_sidebar {
	text-align:left;
	padding-left:3px;
	width:100%;
	white-space:normal;
}
.sat {
	
}	
.sun {
	
}
.today {
	color:#FF0000 !important;
	font-weight:bold;
}
.noday {
	background-color:#DDDDDD;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center center;
	opacity: 0.2;
}	

.icon-cal {
	background-image: url("./images/icon_cal.gif");
}

.cal_month_title {
	font-size:12px;
	font-weight:bold;
	text-align:center;
	margin-top:3px;
	margin-bottom:10px;
}
.cal_month_title a {
	color:#303030;
	
}

#index_calendar table, #calendar table {
	table-layout: fixed;
	width:100%;
	font-size:1.1rem;
}
#index_calendar th, #calendar th {
	width:14%;
	padding:3px;
	white-space: nowrap;
	overflow:hidden;
}
#index_calendar td, #calendar td {
	border: 1px solid #303030;
	padding:3px;
	white-space: nowrap;
	overflow:hidden;
	height:60px;
	vertical-align:top;
}

.fieldset_event{
	margin-bottom:15px;
	
}

.participants table.table1 thead th, .participants table.table1 tbody tr {
	border: 0;
}
.participants table.table1 td {
	padding: 0 5px;
}
.participants table{
	border:none;
	border-collapse: separate;
	
}
.participants {
	margin-top:15px;
	padding:5px;
    
}
.participants p{
	margin:2px 0 5px;
	font-weight:bold;
}
.registration {
	width:400px;
	max-width:100%;
	text-align:left;
	font-size:1em;
	margin-top:10px;
}

.participants select, .participants input, .participants textarea {
	border:none;
	margin:3px; 
	font-size:1.2em;
}

.participants fieldset, .participants dl{
	margin:0px;
}
.participants textarea{
	height:20px;
	width:400px;
	max-width:100%;
	background:#D5D5D5;
}
.day{
	
}

.sday {
	color:#303030;
	display:none;
}

.day_sidebar{
	float:right;
}

.sday_sidebar {
	text-align:right;
	display:none;
}
.calevent{
	white-space:normal;
	margin-top: 4px;
	margin-left: auto;
	margin-right: auto;
	
}
.eventbg {
	border-radius:13px;
	padding:0 3px;
}

.event{
	display:none;
}
.event-box {
	display:none;
}


@media (max-width: 991px), (max-device-width: 991px) {
.event{
	text-align:center;
	margin:0 0 5px;
	display:flex;
	background-color:#12A3EB;
	background-repeat: repeat-x;
	border-radius:7px;
	padding:3px 5px;
}
.event-box {
	display:inline;
	box-sizing: border-box;
	
	
	overflow:hidden;
	margin:3px;
	
	padding:3px;
	text-align:center;
	float:left;
}}

@media only screen and (max-width: 500px), only screen and (max-device-width:500px){
.day {
	display:none;
}
.sday {
	display:inline;
}
.day_sidebar{
	display:none;
}

.sday_sidebar {
	float:right;
	display:inline;
}
}
.hday {
	margin-left:10px;
}
.shday {
	display:none;
}
@media only screen and (max-width: 870px), only screen and (max-device-width: 870px) {
.hday {
	display:inline;
}
.shday {
	display:inline;
}
}