/**
 *
 * @package phpBB Extension - mChat
 * @copyright (c) 2016 dmzx - http://www.dmzx-web.net
 * @copyright (c) 2016 kasimi
 * @license http://opensource.org/licenses/gpl-2.0.php GNU General Public License v2
 *
 */

.icon-mchat {
    background: none;
}

.icon-mchat:before, #mChat + .inner li.header dt:before {
    content: '\e0e6';
}
