<!--
<div class="alert alert-info alert-dismissible fade in" role="alert" id="globalAlertExample1">
  <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></a>

  This alert shows on all pages. Uncomment to enable

</div>
-->