/* Put your custom CSS here */
@font-face {
    font-family: 'trackregular';
    src: url('custom/fonts/track-webfont.eot');
    src: url('custom/fonts/track-webfont.eot?#iefix') format('embedded-opentype'),
         url('custom/fonts/track-webfont.woff2') format('woff2'),
         url('custom/fonts/track-webfont.woff') format('woff'),
         url('custom/fonts/track-webfont.ttf') format('truetype'),
         url('custom/fonts/track-webfont.svg#trackregular') format('svg');
    font-weight: normal;
    font-style: normal;

}