<!-- Homepage -->
<li class="nav-item nav-forum">
    <a href="http://halowheelmen.com">Home</a>
</li>

<!-- Guides -->
<li class="nav-item nav-forum">
    <a href="http://halowheelmen.com/site/pages/guides/halo-5/h5-guide.php">Guides</a>
</li>

<!-- Forum Index -->
<li class="nav-item nav-forum">
    <a href="{U_INDEX}">{L_FORUM}</a>
</li>


<!-- News -->
<li class="nav-item nav-forum">
    <a href="http://halowheelmen.com/site/pages/blog/blog.php">Blog</a>
</li>


<!-- FAQ -->
<li class="nav-item">
    <a href="{U_FAQ}" rel="help" title="{L_FAQ_EXPLAIN}">{L_FAQ}</a>
</li>