#header_bevor {
	background-color: #fff;
    border-color: #e6e9ed;
	border-radius: 8px;
    margin: 0 auto;
    max-width: 1152px;
    padding: 0 15px;
}
@media only screen and (max-width: 1220px), only screen and (max-device-width: 1220px) {
#header_bevor{
    margin: 0 12px;
}
}
#index_calendar .forumbg, #calendar .forumbg {
	overflow: hidden; 
	padding:3px;
}

.icon-cal {background-image: url("./images/icon_cal.gif");}

.cal_month_title {
	font-size:12px;
	font-weight:bold;
	text-align:center;
	margin:3px;
}
.cal_month_title a {
    color:#303030;
}

#index_calendar table, #calendar table {
	table-layout: fixed;
	width:100%;
	font-size:1.1rem;
}
#index_calendar th, #calendar th {
	width:14%;
	padding:3px;
	white-space: nowrap;
	overflow:hidden;
}
#index_calendar td, #calendar td {
	border: 1px solid #303030;
	padding:3px;
	white-space: nowrap;
	overflow:hidden;
	height:60px;
	vertical-align:top;
}
.cal_post {
	font-size:1em;
	padding-left:10px;
	border-radius:7px;
}
.participants table.table1 thead th, .participants table.table1 tbody tr {
    border:0;
}
.participants table.table1 td {
	padding: 0 5px;
}
.participants {
    margin-top:15px;
	padding:5px;
}
.participants p{
	margin:2px 0 5px;
	font-weight:bold;
}
.registration {
	width:400px;
	max-width:100%;
	text-align:left;
	font-size:1em;
	margin-top:10px;
}
.participants select, .participants input, .participants textarea {
	border:none;
	margin:3px; 
	font-size:1.2em;
}
.participants fieldset, .participants dl{
	margin:0px;
}
.participants textarea{
	height:20px;
	width:400px;
	max-width:100%;
	background:#D5D5D5;
}
.week {
	display:flex;
}

.full_day, .cal-day {
	text-align:left;
	padding:0 0 3px;
	overflow: hidden;
	white-space:nowrap;
}

.cal_day_sidebar {
	text-align:left;
	padding:3px;
	width:100%;
	white-space:normal;
	border:1px solid #303030;
	margin-top: -1px;
	min-height: 60px;
	font-size: 1.1rem;
}

.day_sidebar{
	float:right;
}

.today {
	color: #105289 !important;
	font-weight:bold;
}
.noday {
	opacity:0.1;
}
.nday {
    box-sizing: border-box;
	font-weight:bold;
	margin:0.2%;
	width: 13.9%;
	text-align:left;
}
.cal_day{
	float:right;
}

.cal_date{
	float: left;
}

.wday {
    border: 1px solid #303030;
	margin-left: -1px;
	margin-bottom: -1px;
    box-sizing: border-box;
	width: 13.9%;
	padding: 2px;
	min-height: 100px;
	overflow:hidden;
	
}
.sday {
	display:inline;
}
.date {
	background-color:#CADCEB;
	float:left;
	width:20px;
}
.eventbg {
	border-radius:13px;
	padding:0 3px;
}
.event {
 	display:flex;
	margin-bottom:3px;
}
.event-box {
	display:inline;
    box-sizing: border-box;
	margin:3px;
	padding: 3px;
	overflow:hidden;
	text-align:center;
	float: left;
}
.event-box .cal-day {
	text-align:center;
}
.hday {
	font-size: 1.3rem;
}
.event-box .hday, .event-box .eventbg{
	margin-left:0px;
	padding-left:0px;
}
.shday {
	display:none;
}

.mobl_day, .kday {
	display:none;
}

.copyright{
	margin-top:10px;
}
@media only screen and (max-width: 850px), only screen and (max-device-width: 850px) {

#index-calendar {
    margin-left: -5px;
    margin-right: -5px;
}
.sday {
	display:none;
}

.event, .week {
	display:unset;
}
.event-box, .wday {
	width:100%;
	float:none;
	text-align:left;
}
.noday {
	display:none;
}
.nday {
	display:none;
}
.cal-day {
	display:none;
}
.full_day{
	display: none;
}

.mobl_day, .kday {
	display:inline;
	padding-bottom: 3px;
}
.day{
	background-color: #EFEFEF;
}
.wday {
	min-height:35px;
	
}
}
