.sp-container {
  background-color: #FFF;
  border: 0;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
}

.sp-color, .sp-hue, .sp-clear {
  border: 0;
}

.sp-input {
  font-size: 10px !important;
  padding: 0 5px !important;
  height: 27px !important;
}

.sp-slider {
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.5);
}

.sp-initial {
  border: 1px solid #A8A8A8;
}

.sp-cancel {
  display: none;
}

.sp-preview {
  position: relative;
  width: 100%;
  height: 22px;
  border: solid 1px #FFF;
  margin-right: 5px;
  float: left;
  z-index: 0;
}

.sp-replacer {
  margin: 0;
  overflow: hidden;
  cursor: pointer;
  padding: 5px;
  display: inline-block;
  background: #FFF;
  color: #333;
  vertical-align: middle;
  width: 100%;
  border-radius: 2px;
  border: 0;
}

.sp-preview-inner {
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.27);
          box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.27);
}

.sp-dd {
  display: none;
}

.tp-header {
  text-align: center;
}

.tp-header .st-logo {
  width: 200px;
}

#tp-form {
  font-size: 13px;
  max-width: 1000px;
  margin: auto;
  background: #F5F5F5;
  padding: 8px;
  margin-bottom: 15px;
  padding-left: 0;
}

#tp-form .tp-tabcontainer {
  display: table;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 15px;
}

#tp-form .tp-tabcontainer > .nav-tabs, #tp-form .tp-tabcontainer > .tab-content {
  display: table-cell;
  vertical-align: top;
}

#tp-form .tp-tabcontainer > .nav-tabs {
  border-bottom: 0;
  width: 40px;
  padding: 25px 0;
}

@media (min-width: 768px) {
  #tp-form .tp-tabcontainer > .nav-tabs {
    width: 180px;
  }
  #themepanel-modalbox #tp-form .tp-tabcontainer > .nav-tabs {
    width: 130px;
  }
}

#tp-form .tp-tabcontainer > .nav-tabs > li {
  float: none;
  display: block;
}

#tp-form .tp-tabcontainer > .nav-tabs > li .fi {
  font-size: 17px;
  margin-right: 4px;
}

#tp-form .tp-tabcontainer > .nav-tabs > li > a {
  -webkit-transition: 0;
       -o-transition: 0;
          transition: 0;
  padding: 15px;
  display: block;
  border: 0;
  background: transparent;
  margin: 0;
  color: #A9A9A9;
  line-height: 1;
  border-radius: 0;
  text-align: left;
}

#themepanel-modalbox #tp-form .tp-tabcontainer > .nav-tabs > li > a {
  padding: 10px 10px;
}

#tp-form .tp-tabcontainer > .nav-tabs > li > a:hover, #tp-form .tp-tabcontainer > .nav-tabs > li > a:focus {
  color: #555555;
}

#tp-form .tp-tabcontainer > .nav-tabs > li.active > a {
  padding: 12px 15px;
  margin: 3px 0;
  font-weight: bold;
  color: #303030;
  background-color: rgba(0, 0, 0, 0.05);
}

#themepanel-modalbox #tp-form .tp-tabcontainer > .nav-tabs > li.active > a {
  padding: 8px 10px;
  margin: 2px 0;
}

#tp-form .tp-tabcontainer > .nav-tabs > li span {
  display: none;
  line-height: 1;
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  position: relative;
}

@media (min-width: 768px) {
  #tp-form .tp-tabcontainer > .nav-tabs > li span {
    display: inline-block;
  }
}

#themepanel-modalbox #tp-form .tp-tabcontainer > .nav-tabs > li span {
  width: 80px;
  top: 1px;
  padding-left: 5px;
}

#tp-form .tp-tabcontainer > .tab-content {
  padding: 20px;
  background: white;
  border-radius: 2px;
  -webkit-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.12);
          box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.12);
}

#tp-form .submit-section {
  margin-bottom: 15px;
  text-align: center;
}

#tp-form .submit-section .btn {
  padding: 10px 50px;
  text-transform: uppercase;
  font-weight: bold;
  height: auto;
  line-height: 1.4;
}

#tp-form hr {
  margin-top: 5px;
  margin-bottom: 20px;
}

#tp-form hr.dashed {
  border-top-style: dashed;
}

#tp-form .input-group {
  padding: 3px;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  background: white;
}

#tp-form .input-group-addon {
  font-size: 11px;
  font-weight: 500;
  border: 0;
  border-radius: 2px;
  min-width: 130px;
  background-color: #818181;
  color: #FFF;
  text-align: right;
}

#tp-form .form-control {
  border: 0;
  height: 31px;
  -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.14);
          box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.14);
  -webkit-transition: .1s;
       -o-transition: .1s;
          transition: .1s;
}

#tp-form .form-control:focus {
  border-radius: 0;
  background-color: #F5F5F5;
  outline: -webkit-focus-ring-color auto 5px;
}

.tp-section h4 {
  font-size: 15px;
  display: inline-block;
  border-bottom: 3px solid #D55757;
  padding: 10px 0;
  font-weight: bold;
  padding-right: 20px;
  margin: 0 0 15px 0;
}

.tp-setting {
  padding-right: 15px;
  margin-bottom: 15px;
  float: left;
  width: 100%;
  display: block;
  /*&.span-1 {
        width: 16.6666667%;
    }
    &.span-2 {
        width: 33.3333333%;
    }
    &.span-3 {
        width: 50%;
    }
    &.span-4 {
        width: 66.66666666%;
    }
    &.span-6 {
        width: 100%;
    }*/
}

@media (min-width: 992px) {
  .tp-setting {
    width: 50%;
  }
}

.tp-setting-header {
  background: #E5E5E5;
  margin: -15px;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 14px;
}

.tp-setting-header p {
  font-size: 13px;
  color: #888;
}

.slickpanel-section {
  margin-bottom: 25px;
  margin-left: -15px;
  margin-right: -15px;
  border-left: 0;
  border-right: 0;
  background: #fafafa;
}

#themepanel-modalbox .slickpanel-section {
  margin-left: 0;
  margin-right: 0;
}

.slickpanel-section__setting {
  display: block;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.slickpanel-section__setting:before, .slickpanel-section__setting:after {
  content: " ";
  display: table;
}

.slickpanel-section__setting:after {
  clear: both;
}

.slickpanel-section__setting:hover .slickpanel-section__setting__label > strong {
  color: #b03636;
}

.slickpanel-section__setting:nth-child(odd) {
  background: white;
}

.slickpanel-section__setting:first-child {
  border-top: 0;
}

.slickpanel-section__setting:last-child {
  border-bottom: 0;
}

.slickpanel-section__setting__label {
  float: left;
  width: 60%;
}

.slickpanel-section__setting__label > strong {
  display: block;
}

.slickpanel-section__setting__label > strong:last-child {
  margin-top: 8px;
}

.slickpanel-section__setting__label p {
  color: #969696;
  margin: 0;
}

.slickpanel-section__setting__label .label {
  position: relative;
  line-height: normal;
  top: -2px;
}

.slickpanel-section__setting__input {
  float: left;
  padding-left: 15px;
  width: 40%;
}

.slickpanel-section__setting__input select, .slickpanel-section__setting__input input[type=text], .slickpanel-section__setting__input input[type=number] {
  background: #eee;
}

.slickpanel-section__setting__input select {
  max-width: 200px;
}

.slickpanel-section__setting__input textarea {
  max-height: 77px;
}

.slickpanel-section__setting__input .checkbox {
  margin: 0;
}

.slickpanel-section__setting__input .checkbox label {
  line-height: 21px;
}

.slickpanel-section__setting__input .sp-replacer {
  background: #F5F5F5;
}

.slickpanel-togglesetting .slickpanel-section__setting__input {
  width: 30px;
  text-align: left;
  padding-left: 0;
}

.slickpanel-togglesetting .slickpanel-section__setting__label {
  width: 100%;
  padding-left: 30px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
  float: none;
  display: block;
}

#themepanel-modalbox {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2000;
  background-color: #FFF;
  border: 0;
  -webkit-box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.34);
          box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.34);
  width: 200px;
  height: 100px;
  margin-top: -50px;
  margin-left: -100px;
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
       -o-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
}

#themepanel-modalbox #tp-form {
  padding: 0;
  margin: 0;
}

#themepanel-modalbox .submit-section {
  margin-bottom: 0;
  position: absolute;
  top: 6px;
  left: 6px;
  -webkit-transform: translateX(-50px);
      -ms-transform: translateX(-50px);
       -o-transform: translateX(-50px);
          transform: translateX(-50px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
       -o-transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
}

#themepanel-modalbox .submit-section.visible {
  -webkit-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
  opacity: 1;
  visibility: visible;
}

#themepanel-modalbox .submit-section .btn {
  padding: 4px 15px;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
  border-bottom: 1px solid #589D78;
  border-radius: 1px;
  font-size: 10px;
}

#themepanel-modalbox .submit-section_ {
  margin-bottom: 5px;
  position: absolute;
  top: 4px;
  left: 15px;
}

#themepanel-modalbox .submit-section_ .btn {
  padding: 2px 0px;
  color: #589D78;
  background-color: transparent;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  letter-spacing: 1px;
  border-bottom: 1px solid #589D78;
}

#themepanel-modalbox .tpmb-container {
  -webkit-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
       -o-transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
          transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
       -o-transform: translateY(50px);
          transform: translateY(50px);
}

#themepanel-modalbox .tpmb-container.visible {
  -webkit-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
  opacity: 1;
  visibility: visible;
}

#themepanel-modalbox .tpmb-header {
  position: relative;
  padding: 18px 0;
  text-align: center;
  /*cursor: move;
    cursor: -webkit-grab;
    
    .tpmb-dragging & {
      cursor: -webkit-grabbing;
    }*/
}

.tpmb-dragging #themepanel-modalbox {
  -webkit-transition: opacity 0.3s, -webkit-transform 0.2s;
       -o-transition: opacity 0.3s, -o-transform 0.2s;
          transition: opacity 0.3s, transform 0.2s;
}

#themepanel-modalbox .st-logo {
  -webkit-transition: .3s;
       -o-transition: .3s;
          transition: .3s;
  width: 150px;
}

#themepanel-modalbox .tp-tabcontainer {
  margin-bottom: 0;
}

#themepanel-modalbox .tp-tabcontainer > .nav-tabs {
  padding-top: 15px;
  width: 40px;
}

#themepanel-modalbox .tp-tabcontainer > .nav-tabs a {
  text-align: center;
}

#themepanel-modalbox .tp-tabcontainer > .nav-tabs li > span {
  display: none;
}

#themepanel-modalbox iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: none;
  background-color: #FFF;
  padding: 10px;
}

#themepanel-modalbox .tp-header {
  padding: 15px 0 0 0;
  display: none;
}

#themepanel-modalbox .tpmb-close, #themepanel-modalbox .tpmb-maximize {
  display: none;
  float: right;
  text-decoration: none;
  font-size: 17px;
  font-weight: 300;
  top: 0;
  right: 0;
  line-height: 36px;
  height: 36px;
  width: 40px;
  z-index: 10;
}

#themepanel-modalbox[data-loaded=true] {
  margin: 0;
  width: 100%;
  left: 0;
  margin-left: 0;
  margin-top: 0;
  height: auto;
  /*max-height: 60%;*/
  top: 18%;
  overflow: hidden;
  border-radius: 0;
}

@media (min-width: 992px) {
  #themepanel-modalbox[data-loaded=true] {
    left: 50%;
  }
}

#themepanel-modalbox[data-loaded=true] .tpmb-header {
  padding: 0;
  height: 36px;
  border-bottom: 1px solid #ddd;
}

#themepanel-modalbox[data-loaded=true] .tpmb-header:before {
  content: "SlickPanel";
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 50%;
  margin-left: -70px;
  width: 140px;
  height: 36px;
  font-size: 13px;
  line-height: 36px;
  z-index: 0;
}

#themepanel-modalbox[data-loaded=true] .st-logo {
  display: none;
}

#themepanel-modalbox[data-loaded=true] iframe {
  display: block;
}

#themepanel-modalbox[data-loaded=true] .tpmb-close, #themepanel-modalbox[data-loaded=true] .tpmb-maximize {
  display: block;
  color: #777777;
}

#themepanel-modalbox[data-loaded=true] .tpmb-close:hover, #themepanel-modalbox[data-loaded=true] .tpmb-close:focus, #themepanel-modalbox[data-loaded=true] .tpmb-maximize:hover, #themepanel-modalbox[data-loaded=true] .tpmb-maximize:focus {
  color: #c33c3c;
}

#themepanel-modalbox[data-loaded=true] .tpmb-maximize:hover, #themepanel-modalbox[data-loaded=true] .tpmb-maximize:focus {
  color: inherit;
}

#themepanel-modalbox #tp-form .tp-tabcontainer > .tab-content {
  padding: 0;
  padding-right: 2px;
  height: 350px;
}

#themepanel-modalbox #tp-form .tp-setting {
  width: 100%;
  padding-right: 0;
  margin-bottom: 10px;
}

#themepanel-modalbox #tp-form .alert {
  margin-right: -2px;
}

#themepanel-modalbox .slickpanel-innernav-tabs {
  -webkit-box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;
  margin: 0;
  padding-left: 10px;
  padding-top: 6px;
}

.slickpanel-innernav-tabs > li {
  display: inline-block;
  margin: 0 14px;
}

.slickpanel-innernav-tabs > li:first-child {
  margin-left: 0;
}

.slickpanel-innernav-tabs > li > a {
  display: block;
  float: left;
  color: inherit;
  opacity: .6;
  font-size: 1.5rem;
  padding: 1px 4px;
  font-weight: 500;
}

#themepanel-modalbox .slickpanel-innernav-tabs > li > a {
  padding: 1px 4px 6px;
  position: relative;
  top: 4px;
  font-size: 1.4rem;
}

.slickpanel-innernav-tabs > li > a:hover {
  opacity: 1;
}

.slickpanel-innernav-tabs > li.active > a {
  opacity: 1;
  -webkit-box-shadow: 0 2px 0 0 #CF6363;
          box-shadow: 0 2px 0 0 #CF6363;
}

.slickpanel-innernav-content {
  padding: 15px 0 0;
  margin: 0;
}

#themepanel-modalbox .slickpanel-innernav-content {
  padding: 8px 0 0;
  max-height: 313px;
  overflow-y: auto;
  overflow-x: hidden;
  /* Custom scrollbar style */
}

#themepanel-modalbox .slickpanel-innernav-content .slickpanel-innernav-content {
  max-height: auto;
}

#themepanel-modalbox .slickpanel-innernav-content::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

#themepanel-modalbox .slickpanel-innernav-content::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

#themepanel-modalbox .slickpanel-innernav-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}

#themepanel-modalbox .slickpanel-innernav-content::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#logotype-switch {
  margin-bottom: 0;
  border-bottom: 1px solid #E7E7E7;
}

#logotype-switch .slickpanel-section__setting {
  background: #fafafa;
}

#logotype__image,
#logotype__text {
  display: none;
}
