<!-- INCLUDE overall_header.html -->

<h1>{L_MCHAT_TITLE}</h1>

{L_MCHAT_VERSION}{L_COLON} <em>{MCHAT_VERSION}</em>

<div class="successbox notice">{L_MCHAT_GLOBALUSERSETTINGS_EXPLAIN}</div>

<!-- IF MCHAT_ERROR -->
	<div class="errorbox">
		<h3>{L_WARNING}</h3>
		<p>{MCHAT_ERROR}</p>
	</div>
<!-- ENDIF -->

<form id="acp_mchat" method="post" action="{U_ACTION}">
		<fieldset>
			<legend>{L_ACP_MCHAT_GLOBALUSERSETTINGS}</legend>
			<!-- INCLUDE acp_mchat_globalusersettings_content.html -->
		</fieldset>
		<fieldset>
			<legend>{L_MCHAT_GLOBALUSERSETTINGS_OVERWRITE}</legend>
			<dl>
				<dt><label for="mchat_overwrite">{L_MCHAT_GLOBALUSERSETTINGS_OVERWRITE}{L_COLON}</label><br /><span>{L_MCHAT_GLOBALUSERSETTINGS_OVERWRITE_EXPLAIN}</span></dt>
				<dd>
					<label><input type="radio" name="mchat_overwrite" value="1" /> {L_YES}</label>
					<label><input type="radio" name="mchat_overwrite" value="0" id="mchat_overwrite" checked="checked" /> {L_NO}</label>
				</dd>
			</dl>
			<dl>
				<dt><label for="mchat_overwrite_confirm">{L_MCHAT_GLOBALUSERSETTINGS_OVERWRITE_CONFIRM}{L_COLON}</label></dt>
				<dd>
					<label><input type="radio" name="mchat_overwrite_confirm" value="1" /> {L_YES}</label>
					<label><input type="radio" name="mchat_overwrite_confirm" value="0" id="mchat_overwrite_confirm" checked="checked" /> {L_NO}</label>
				</dd>
			</dl>
		</fieldset>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
			{S_FORM_TOKEN}
		</p>
</form>

<!-- INCLUDE overall_footer.html -->
