<!-- INCLUDECSS css/mchatacp.css -->
<!-- INCLUDE overall_header.html -->
<h1 class="ExtensionName"><!-- IF META_DISPLAY_NAME -->{META_DISPLAY_NAME}<!-- ENDIF --></h1>
<!-- IF S_VERSIONCHECK && S_UP_TO_DATE -->
	<div class="description_bubble small_bubble" title="{UP_TO_DATE_MSG}">
		<span class="description_name">{L_VERSION}</span>
		<span class="description_value description_value_ok" id="meta_version">{META_VERSION}</span>
	</div>
	<!-- ELSE IF S_VERSIONCHECK && not S_UP_TO_DATE -->
	<div class="description_bubble small_bubble" title="{UP_TO_DATE_MSG}">
		<span class="description_name">{L_VERSION}</span>
		<span class="description_value description_value_old" id="meta_version">{META_VERSION}</span>
	</div>
	<!-- ELSE -->
	<div class="description_bubble small_bubble">
		<span class="description_name">{L_VERSION}</span>
		<span class="description_value" id="meta_version">{META_VERSION}</span>
	</div>
<!-- ENDIF -->
<!-- IF S_VERSIONCHECK && not S_UP_TO_DATE -->
	<!-- BEGIN updates_available -->
		<fieldset>
			<span class="requirements_title">{L_LATEST_VERSION}</span>
			<div class="extension_latest_version_wrapper">
				<strong class="extension_latest_version">{updates_available.current}</strong>
				<!-- IF updates_available.download-->
				<a href="{updates_available.download}" class="extension_author_link" title="{L_DOWNLOAD_LATEST}">{L_DOWNLOAD} {META_NAME} {LATEST_VERSION}</i></a>
				<!-- ENDIF -->
				<!-- IF updates_available.announcement -->
				<a href="{updates_available.announcement}" class="extension_author_link" title="{L_ANNOUNCEMENT_TOPIC}">{L_RELEASE_ANNOUNCEMENT}</i></a>
				<!-- ENDIF -->
			</div>
		</fieldset>
	<!-- END updates_available -->
<!-- ENDIF -->
<!-- IF MCHAT_ERROR -->
	<div class="errorbox"><h3>{L_WARNING}</h3>
		<p>{MCHAT_ERROR}</p>
	</div>
<!-- ENDIF -->

<form id="acp_mchat" method="post" action="{U_ACTION}">
	<fieldset>
		<legend>{L_MCHAT_MAIN}</legend>
		<dl>
			<dt><label for="mchat_enable">{L_MCHAT_ENABLE}{L_COLON}</label><br />
			<span>{L_MCHAT_ENABLE_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="mchat_enable" value="1"<!-- IF MCHAT_ENABLE --> id="mchat_enable" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="mchat_enable" value="0"<!-- IF not MCHAT_ENABLE --> id="mchat_enable" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="mchat_message_top">{L_MCHAT_MESSAGE_TOP}{L_COLON}</label><br />
			<span>{L_MCHAT_MESSAGE_TOP_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="mchat_message_top" value="1"<!-- IF MCHAT_MESSAGE_TOP --> id="mchat_message_top" checked="checked"<!-- ENDIF --> /> {L_MCHAT_TOP}</label>
			<label><input type="radio" class="radio" name="mchat_message_top" value="0"<!-- IF not MCHAT_MESSAGE_TOP --> id="mchat_message_top" checked="checked"<!-- ENDIF --> /> {L_MCHAT_BOTTOM}</label></dd>
		</dl>
		<dl>
			<dt><label for="mchat_new_posts">{L_MCHAT_NEW_POSTS}{L_COLON}</label><br />
			<span>{L_MCHAT_NEW_POSTS_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="mchat_new_posts" value="1"<!-- IF MCHAT_NEW_POSTS --> id="mchat_new_posts" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="mchat_new_posts" value="0"<!-- IF not MCHAT_NEW_POSTS --> id="mchat_new_posts" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="mchat_new_posts">{L_MCHAT_NEW_POSTS_TOPIC}{L_COLON}</label><br />
			<span>{L_MCHAT_NEW_POSTS_TOPIC_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="mchat_new_posts_topic" value="1"<!-- IF MCHAT_NEW_POSTS_TOPIC --> id="mchat_new_posts_topic" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="mchat_new_posts_topic" value="0"<!-- IF not MCHAT_NEW_POSTS_TOPIC --> id="mchat_new_posts_topic" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="mchat_new_posts">{L_MCHAT_NEW_POSTS_REPLY}{L_COLON}</label><br />
			<span>{L_MCHAT_NEW_POSTS_REPLY_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="mchat_new_posts_reply" value="1"<!-- IF MCHAT_NEW_POSTS_REPLY --> id="mchat_new_posts_reply" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="mchat_new_posts_reply" value="0"<!-- IF not MCHAT_NEW_POSTS_REPLY --> id="mchat_new_posts_reply" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="mchat_new_posts">{L_MCHAT_NEW_POSTS_EDIT}{L_COLON}</label><br />
			<span>{L_MCHAT_NEW_POSTS_EDIT_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="mchat_new_posts_edit" value="1"<!-- IF MCHAT_NEW_POSTS_EDIT --> id="mchat_new_posts_edit" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="mchat_new_posts_edit" value="0"<!-- IF not MCHAT_NEW_POSTS_EDIT --> id="mchat_new_posts_edit" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="mchat_new_posts">{L_MCHAT_NEW_POSTS_QUOTE}{L_COLON}</label><br />
			<span>{L_MCHAT_NEW_POSTS_QUOTE_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="mchat_new_posts_quote" value="1"<!-- IF MCHAT_NEW_POSTS_QUOTE --> id="mchat_new_posts_quote" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="mchat_new_posts_quote" value="0"<!-- IF not MCHAT_NEW_POSTS_QUOTE --> id="mchat_new_posts_quote" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="mchat_static_message">{L_MCHAT_STATIC_MESSAGE}{L_COLON}</label><br />
			<span>{L_MCHAT_STATIC_MESSAGE_EXPLAIN}</span></dt>
			<dd><textarea name="mchat_static_message" id="mchat_static_message" rows="3" cols="40">{MCHAT_STATIC_MESSAGE}</textarea></dd>
		</dl>
		<dl>
			<dt><label for="mchat_refresh">{L_MCHAT_REFRESH}{L_COLON}</label><br />
			<span>{L_MCHAT_REFRESH_EXPLAIN}</span></dt>
			<dd><input type="text" name="mchat_refresh" id="mchat_refresh" size="10" value="{MCHAT_REFRESH}" /></dd>
		</dl>
		<dl>
			<dt><label for="mchat_timeout">{L_MCHAT_USER_TIMEOUT}{L_COLON}</label><br />
			<span>{L_MCHAT_TIMEOUT_EXPLAIN}</span></dt>
			<dd><input type="text" name="mchat_timeout" id="mchat_timeout" size="10" maxlength="4" value="{MCHAT_TIMEOUT}" /></dd>
		</dl>
		<dl>
			<dt><label for="mchat_on_index">{L_MCHAT_ON_INDEX}{L_COLON}</label><br />
			<span>{L_MCHAT_ON_INDEX_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="mchat_on_index" value="1"<!-- IF MCHAT_ON_INDEX --> id="mchat_on_index" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="mchat_on_index" value="0"<!-- IF not MCHAT_ON_INDEX --> id="mchat_on_index" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="mchat_index_height">{L_MCHAT_INDEX_HEIGHT}{L_COLON}</label><br />
			<span>{L_MCHAT_INDEX_HEIGHT_EXPLAIN}</span></dt>
			<dd><input type="text" name="mchat_index_height" id="mchat_index_height" size="10" maxlength="4" value="{MCHAT_INDEX_HEIGHT}" /></dd>
		</dl>
		<dl>
			<dt><label for="mchat_index_height">{L_MCHAT_MESSAGE_NUM}{L_COLON}</label><br />
			<span>{L_MCHAT_MESSAGE_NUM_EXPLAIN}</span></dt>
			<dd><input type="text" name="mchat_message_num" size="10" maxlength="4" value="{MCHAT_MESSAGE_NUM}" /></dd>
		</dl>
		<dl>
			<dt><label for="mchat_location">{L_MCHAT_LOCATION}{L_COLON}</label><br />
			<span>{L_MCHAT_LOCATION_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="mchat_location" value="1"<!-- IF MCHAT_LOCATION --> id="mchat_location" checked="checked"<!-- ENDIF --> /> {L_MCHAT_TOP_OF_FORUM}</label>
			<label><input type="radio" class="radio" name="mchat_location" value="0"<!-- IF not MCHAT_LOCATION --> id="mchat_location" checked="checked"<!-- ENDIF --> /> {L_MCHAT_BOTTOM_OF_FORUM}</label></dd>
		</dl>
		<dl>
			<dt><label for="mchat_custom_page">{L_MCHAT_CUSTOM_PAGE}{L_COLON}</label><br />
			<span>{L_MCHAT_CUSTOM_PAGE_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="mchat_custom_page" value="1"<!-- IF MCHAT_CUSTOM_PAGE --> id="mchat_custom_page" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="mchat_custom_page" value="0"<!-- IF not MCHAT_CUSTOM_PAGE --> id="mchat_custom_page" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="mchat_custom_height">{L_MCHAT_CUSTOM_HEIGHT}{L_COLON}</label><br />
			<span>{L_MCHAT_CUSTOM_HEIGHT_EXPLAIN}</span></dt>
			<dd><input type="text" name="mchat_custom_height" id="mchat_custom_height" size="10" maxlength="4" value="{MCHAT_CUSTOM_HEIGHT}" /></dd>
		</dl>
		<dl>
			<dt><label for="mchat_prune_enable">{L_MCHAT_PRUNE}{L_COLON}</label><br />
			<span>{L_MCHAT_PRUNE_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="mchat_prune_enable" value="1"<!-- IF MCHAT_PRUNE --> id="mchat_prune_enable" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="mchat_prune_enable" value="0"<!-- IF not MCHAT_PRUNE --> id="mchat_prune_enable" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="mchat_prune_num">{L_MCHAT_PRUNE_NUM}{L_COLON}</label><br />
			<span>{L_MCHAT_PRUNE_NUM_EXPLAIN}</span></dt>
			<dd><input type="text" name="mchat_prune_num" size="10" id="mchat_prune_num" value="{MCHAT_PRUNE_NUM}" /></dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{L_MCHAT_MESSAGES}</legend>
		<dl>
			<dt><label for="mchat_flood_time">{L_MCHAT_FLOOD_TIME}{L_COLON}</label><br />
			<span>{L_MCHAT_FLOOD_TIME_EXPLAIN}</span></dt>
			<dd><input type="text" name="mchat_flood_time" id="mchat_flood_time" size="10" value="{MCHAT_FLOOD_TIME}" /></dd>
		</dl>
		<dl>
			<dt><label for="mchat_message_limit">{L_MCHAT_MESSAGE_LIMIT}{L_COLON}</label><br />
			<span>{L_MCHAT_MESSAGE_LIMIT_EXPLAIN}</span></dt>
			<dd><input type="text" name="mchat_message_limit" id="mchat_message_limit" size="10" value="{MCHAT_MESSAGE_LIMIT}" /></dd>
		</dl>
		<dl>
			<dt><label for="mchat_archive_limit">{L_MCHAT_ARCHIVE_LIMIT}{L_COLON}</label><br />
			<span>{L_MCHAT_ARCHIVE_LIMIT_EXPLAIN}</span></dt>
			<dd><input type="text" name="mchat_archive_limit" id="mchat_archive_limit" size="10" value="{MCHAT_ARCHIVE_LIMIT}" /></dd>
		</dl>
		<dl>
			<dt><label for="mchat_avatars">{L_MCHAT_AVATARS}{L_COLON}</label><br />
			<span>{L_MCHAT_AVATARS_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="mchat_avatars" value="1"<!-- IF MCHAT_AVATARS --> id="mchat_avatars" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="mchat_avatars" value="0"<!-- IF not MCHAT_AVATARS --> id="mchat_avatars" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="mchat_pause_on_input">{L_MCHAT_PAUSE_ON_INPUT}{L_COLON}</label><br />
			<span>{L_MCHAT_PAUSE_ON_INPUT_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="mchat_pause_on_input" value="1"<!-- IF MCHAT_PAUSE_ON_INPUT --> id="mchat_pause_on_input" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="mchat_pause_on_input" value="0"<!-- IF not MCHAT_PAUSE_ON_INPUT --> id="mchat_pause_on_input" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="mchat_override_min_post_chars">{L_MCHAT_OVERRIDE_MIN_POST_CHARS}{L_COLON}</label><br />
			<span>{L_MCHAT_OVERRIDE_MIN_POST_CHARS_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="mchat_override_min_post_chars" value="1"<!-- IF MCHAT_OVERRIDE_MIN_POST_CHARS --> id="mchat_override_min_post_chars" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="mchat_override_min_post_chars" value="0"<!-- IF not MCHAT_OVERRIDE_MIN_POST_CHARS --> id="mchat_override_min_post_chars" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="mchat_override_smilie_limit">{L_MCHAT_OVERRIDE_SMILIE_LIMIT}{L_COLON}</label><br />
			<span>{L_MCHAT_OVERRIDE_SMILIE_LIMIT_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="mchat_override_smilie_limit" value="1"<!-- IF MCHAT_OVERRIDE_SMILIE_LIMIT --> id="mchat_override_smilie_limit" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="mchat_override_smilie_limit" value="0"<!-- IF not MCHAT_OVERRIDE_SMILIE_LIMIT --> id="mchat_override_smilie_limit" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="mchat_max_message_lngth">{L_MCHAT_MAX_MESSAGE_LENGTH}{L_COLON}</label><br />
			<span>{L_MCHAT_MAX_MESSAGE_LENGTH_EXPLAIN}</span></dt>
			<dd><input type="text" name="mchat_max_message_lngth" id="mchat_max_message_lngth" size="10" value="{MCHAT_MAX_MESSAGE_LNGTH}" /></dd>
		</dl>
		<dl>
			<dt><label for="mchat_date">{L_MCHAT_DATE_FORMAT}{L_COLON}</label><br /><span>{L_MCHAT_DATE_FORMAT_EXPLAIN}</span></dt>
			<dd>
				<select name="mchat_dateoptions" id="mchat_dateoptions" onchange="if(this.value=='custom'){phpbb.toggleDisplay('custom_date',1);}else{phpbb.toggleDisplay('custom_date',-1);} if (this.value == 'custom') { document.getElementById('mchat_date').value = default_dateformat; } else { document.getElementById('mchat_date').value = this.value; }">
					{S_MCHAT_DATEFORMAT_OPTIONS}
				</select>
			</dd>
			<dd><div id="custom_date"<!-- IF not S_CUSTOM_DATEFORMAT --> style="display:none;"<!-- ENDIF -->><input type="text" name="mchat_date" id="mchat_date" value="{MCHAT_DATE}" maxlength="30" /></div></dd>
		</dl>
		<dl>
			<dt><label for="mchat_bbcode_disallowed">{L_MCHAT_BBCODES_DISALLOWED}{L_COLON}</label><br />
			<span>{L_MCHAT_BBCODES_DISALLOWED_EXPLAIN}</span></dt>
			<dd><textarea name="mchat_bbcode_disallowed" id="mchat_bbcode_disallowed" rows="3" cols="40">{MCHAT_BBCODE_DISALLOWED}</textarea></dd>
		</dl>
		<dl>
			<dt><label for="mchat_rules">{L_ACP_MCHAT_RULES}{L_COLON}</label><br />
			<span>{L_ACP_MCHAT_RULES_EXPLAIN}</span></dt>
			<dd><textarea name="mchat_rules" id="mchat_rules" rows="8" cols="40">{MCHAT_RULES}</textarea></dd>
		</dl>
	</fieldset>
	<fieldset>
		<legend>{L_MCHAT_STATS}</legend>
		<dl>
			<dt><label for="mchat_whois">{L_MCHAT_WHOIS}{L_COLON}</label><br />
			<span>{L_MCHAT_WHOIS_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="mchat_whois" value="1"<!-- IF MCHAT_WHOIS --> id="mchat_whois" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="mchat_whois" value="0"<!-- IF not MCHAT_WHOIS --> id="mchat_whois" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="mchat_stats_index">{L_MCHAT_STATS_INDEX}{L_COLON}</label><br />
			<span>{L_MCHAT_STATS_INDEX_EXPLAIN}</span></dt>
			<dd><label><input type="radio" class="radio" name="mchat_stats_index" value="1"<!-- IF MCHAT_STATS_INDEX --> id="mchat_stats_index" checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input type="radio" class="radio" name="mchat_stats_index" value="0"<!-- IF not MCHAT_STATS_INDEX --> id="mchat_stats_index" checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
		</dl>
		<dl>
			<dt><label for="mchat_whois">{L_MCHAT_WHOIS_REFRESH}{L_COLON}</label><br />
			<span>{L_MCHAT_WHOIS_REFRESH_EXPLAIN}</span></dt>
			<dd><input type="text" name="mchat_whois_refresh" size="10" value="{MCHAT_WHOIS_REFRESH}" /></dd>
		</dl>

	</fieldset>
	<p class="submit-buttons">
			<input class="button1" type="submit" id="submit" name="submit" value="{L_SUBMIT}" />&nbsp;
			<input class="button2" type="reset" id="reset" name="reset" value="{L_RESET}" />
		{S_FORM_TOKEN}
	</p>
</form>
<!-- INCLUDE overall_footer.html -->