<!-- IF not S_IS_BOT and S_USER_LOGGED_IN || S_IS_BOT and S_CALENDAR_FOR_GUESTS || !S_USER_LOGGED_IN and S_CALENDAR_FOR_GUESTS -->
	<!-- INCLUDE overall_header.html -->
	<div id="calendar">
		<div>
			<div class="inner">
				<div class="cal_month_title">
					<form action="{U_CALENDAR}" method="POST">
						<a href="{PREVIOUS}">&lt;&lt;</a>
						<select name="newmonth" size="1" onchange="this.form.submit();"> 
							<!-- BEGIN month -->
								{month.SELECT}
							<!-- END month -->
						</select>
						<select name="newyear" size="1" onchange="this.form.submit();"> 
							<!-- BEGIN year -->
								{year.SELECT}
							<!-- END year -->
						</select>
						<a href="{NEXT}">&gt;&gt;</a>
					</form>	
				</div>
				<div class="week">
					<div class="nday">
						{MONDAY}
					</div>
					<div class="nday">	
						{TUESDAY}
					</div>
					<div class="nday">	
						{WEDNESDAY}
					</div>
					<div class="nday">	
						{THURSDAY}
					</div>
					<div class="nday">	
						{FRIDAY}
					</div>
					<div class="nday">	
						{SATURDAY}
					</div>
					<div class="nday">	
						{SUNDAY}
					</div>
				</div>
				<div class="week">
					<!-- BEGIN day -->
						<!-- IF !day.INDEX -->
							<div class="wday {day.BG} {day.TODAY} {day.NODAY}">
								<div class="mobl_day">	
									<div class="cal_date">{day.DATE}</div>
									<div class="cal_day">{day.DAY}</div>
								</div>
								<div class="full_day">
									<div class="cal_date">{day.DATE}</div>
								</div>
								<div style="clear: left">
									<span>{day.HDAY}</span>
								</div>
								<!-- BEGIN day.cdh -->
									<div>
									
										<!-- IF day.cdh.EVENT_NAME -->
									<span class="sday">
										<!-- IF day.cdh.LINK --><a<!-- ELSE --><span<!-- ENDIF--> class="eventbg" style="<!-- IF day.cdh.COLOR -->color:#{day.cdh.COLOR};<!-- ENDIF--><!-- IF day.cdh.BCOLOR -->background-color:#{day.cdh.BCOLOR};<!-- ENDIF--><!-- IF day.cdh.BIG -->font-weight:bold;<!-- ENDIF-->"<!-- IF day.cdh.EVENT_TITLE --> title="{day.cdh.EVENT_TITLE}<!-- IF day.cdh.PART -->{day.cdh.TR}{day.cdh.PART}<!-- ENDIF-->"<!-- ENDIF--><!-- IF day.cdh.LINK --> href="{day.cdh.LINK}"<!-- ENDIF--> >
										{day.cdh.EVENT_NAME}<!-- IF day.cdh.NR --> [{day.cdh.NR}]<!-- ENDIF--><!-- IF day.cdh.EVENT_TIME --> {day.cdh.EVENT_TIME}<!-- ENDIF-->
										<!-- IF day.cdh.LINK --></a><!-- ELSE --></span><!-- ENDIF-->
									</span>
									<span class="mobl_day">
										<!-- IF day.cdh.LINK --><a<!-- ELSE --><span<!-- ENDIF--> class="eventbg" style="line-height:2em;<!-- IF day.cdh.COLOR -->color:#{day.cdh.COLOR};<!-- ENDIF--><!-- IF day.cdh.BCOLOR -->background-color:#{day.cdh.BCOLOR};<!-- ENDIF--><!-- IF day.cdh.BIG -->font-weight:bold;<!-- ENDIF-->"<!-- IF day.cdh.LINK --> href="{day.cdh.LINK}"<!-- ENDIF--> >
										{day.cdh.EVENT_NAME} <!-- IF day.cdh.NR -->[{day.cdh.NR}]<!-- ENDIF--><!-- IF day.cdh.EVENT_TIME --> {day.cdh.EVENT_TIME}<!-- ENDIF-->
										<!-- IF day.cdh.LINK --></a><!-- ELSE --></span><!-- ENDIF-->
									</span>
									<br />
										<!-- ENDIF -->
									</div>
								<!-- END day.cdh -->
							</div>
							<!-- IF day.I == 6 -->
								</div>
								<div class="week">
							<!-- ENDIF -->
							<!-- ENDIF -->
					<!-- END day -->
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
		{L_CALENDAR} by hjw - 2016 
	</div>
	<!-- INCLUDE overall_footer.html -->
<!-- ENDIF -->