{% include 'overall_header.html' %}
{% INCLUDEJS '@phpbb_skeleton/editor.js' %}

<script>
	var warningMsg = '{{ lang('SKELETON_RESERVED_NAME_WARNING_UI') }}';
</script>

<h2>{{ lang('PHPBB_CREATE_SKELETON_EXT') }}</h2>

<form id="postform" method="post" action="{{ S_POST_ACTION }}">
{% if ERROR %}
<div class="panel">
	<div class="inner">
		<p class="error">{{ ERROR }}</p>
	</div>
</div>
{% endif %}

<div class="panel bg1">
	<div class="inner">
		<p class="small-icon icon-phpbb-skeleton no-bulletin rightside">{{ lang('PHPBB_SKELETON_EXT_DOCS') }}</p>
		<h2 class="solo">{{ lang('SKELETON_TITLE_EXTENSION_INFO') }}</h2>
		{% for extension in loops.extension %}
			<div class="{% if loop.index is odd %}column1{% else %}column2{% endif %}">
				<fieldset class="fields2">
					<dl>
						<dt><label for="{{ extension.NAME }}">{{ extension.DESC ~ lang('COLON') }}</label>{% if extension.DESC_EXPLAIN %}<br /><span>{{ extension.DESC_EXPLAIN }}</span>{% endif %}</dt>
						<dd><input type="text" tabindex="1" name="{{ extension.NAME }}" id="{{ extension.NAME }}" size="32" value="{{ extension.VALUE }}" class="inputbox" /></dd>
					</dl>
				</fieldset>
			</div>
		{% endfor %}
	</div>
</div>

<div class="panel bg2">
	<div class="inner">
		<h2 class="solo">{{ lang('SKELETON_TITLE_AUTHOR_INFO') }}</h2>
		<div class="skeleton-author" style="overflow: hidden;">
		{% for author in loops.author %}
			<div class="{% if loop.index is odd %}column1{% else %}column2{% endif %}">
				<fieldset class="fields2">
					<dl>
						<dt><label for="{{ author.NAME }}">{{ author.DESC ~ lang('COLON') }}</label>{% if author.DESC_EXPLAIN %}<br /><span>{{ author.DESC_EXPLAIN }}</span>{% endif %}</dt>
						<dd><input type="text" tabindex="1" name="{{ author.NAME }}[]" id="{{ author.NAME }}" size="32" value="{{ author.VALUE }}" class="inputbox" /></dd>
					</dl>
				</fieldset>
			</div>
	{% if loop.index is divisible by(4) and not loop.last %}
		</div>
		<hr />
		<div class="skeleton-author" style="overflow: hidden;">
	{% endif %}
		{% endfor %}
		</div>

		<input type="button" class="button1" id="skeleton-new-author" value="{{ lang('SKELETON_ADD_AUTHOR') }}" />
	</div>
</div>

<div class="panel bg1">
	<div class="inner">
		<h2 class="solo">{{ lang('SKELETON_TITLE_REQUIREMENT_INFO') }}</h2>
		{% for requirement in loops.requirement %}
		<div class="{% if loop.index is odd %}column1{% else %}column2{% endif %}">
			<fieldset class="fields2">
				<dl>
					<dt><label for="{{ requirement.NAME }}">{{ requirement.DESC ~ lang('COLON') }}</label>{% if requirement.DESC_EXPLAIN %}<br /><span>{{ requirement.DESC_EXPLAIN }}</span>{% endif %}</dt>
					<dd><input type="text" tabindex="1" name="{{ requirement.NAME }}" id="{{ requirement.NAME }}" size="32" value="{{ requirement.VALUE }}" class="inputbox" /></dd>
				</dl>
			</fieldset>
		</div>
		{% endfor %}
	</div>
</div>

<div class="panel bg2">
	<div class="inner">
		<h2 class="solo">{{ lang('SKELETON_TITLE_COMPONENT_INFO') }}</h2>
		{% for component in loops.component %}
		<div class="{% if loop.index is odd %}column1{% else %}column2{% endif %}">
			<fieldset class="fields2">
				<div><label for="{{ component.NAME }}" title="{{ component.DESC_EXPLAIN }}"><input class="components" type="checkbox" name="{{ component.NAME }}" id="{{ component.NAME }}"{% if component.VALUE %} checked="checked"{% endif %} /> <strong>{{ component.DESC }}</strong></label></div>
			</fieldset>
		</div>
		{% endfor %}
	</div>
	<fieldset class="display-actions">
		<div><a href="#" class="skeleton-marklist markall">{{ lang('MARK_ALL') }}</a> :: <a href="#" class="skeleton-marklist">{{ lang('UNMARK_ALL') }}</a></div>
	</fieldset>
</div>

<div class="panel">
	<div class="inner">
		<fieldset class="submit-buttons">
			{{ S_HIDDEN_FIELDS }}
			<input type="submit" accesskey="s" name="submit" value="{{ lang('SUBMIT') }}" class="button1" />
		</fieldset>
	</div>
</div>

</form>

{% include 'overall_footer.html' %}
