
/*-------------------------------------------------------------
	COMMON
--------------------------------------------------------------*/

body *
{
	box-sizing: border-box;
}

body
{ 	
	font-family: 	'Aleo', serif; 
	color:			black;
}

h1, h2, h3, h4, h5, h6
{ 	
	font-family: 	'Raleway', sans-serif;
	
	text-transform:	uppercase;
	text-align:		center;
	
	padding:		$spacing-small;
}

h1
{ 	
	font-size: 		2em; 
	padding-top:	$spacing-medium;
}

h2
{ 	
	font-size: 		1.8em; 
}

h3
{ 	font-size: 		1.6em; }

h4
{ 	font-size: 		1.4em; }

h5
{ 	font-size: 		1.2em; }

h6
{ 
	font-size: 		1.2em;
	font-style: 	italic;
	font-weight:	normal;
}


/* -------------------------------------------------------------
	LINKS
------------------------------------------------------------- */

a
{ 	color:			$dark-link; }

a:hover
{	color:			$dark-link-hover; }


.hide-on-mobile
{	display:		none; }
