
/* -------------------------------------------------------------
	NAVIGATION
------------------------------------------------------------- */


/* -------------------------------------------------------------
	General Navigation
------------------------------------------------------------- */

.navigation
{
	width:				100%;
	font-family:		'Raleway';
	text-transform: 	uppercase;
	display: 			table;
	background:			$navigation;
	text-align:			right;
}

.navigation .nav-title
{
	display: 			table-cell;
	vertical-align: 	middle;
	text-align:			left;
}

.navigation a
{
	color:				white;

	border-style:		solid;
	border-width:		1px;
	border-color:		rgba( 0, 0, 0, 0);
	
	padding-left:		5px;
	padding-right:		5px;
}

.navigation a:hover
{
	color:				white;

	border-style:		solid;
	border-width:		1px;
	border-color:		$light-link-hover;
	
	padding-left:		5px;
	padding-right:		5px;
}


/* -------------------------------------------------------------
	Primary Navigation
------------------------------------------------------------- */

#nav-primary
{
	position: 			fixed;
	z-index: 			$z-index;
	background: 		none;
	padding:			15px;
}

#nav-primary.solid
{	background:			$navigation; }

#nav-primary .menu
{	display: 			none; }

#nav-primary a
{	color:				$white; }


/* -------------------------------------------------------------
	Mobile Navigation
------------------------------------------------------------- */


.site-wrapper
{
	min-width:			100%;
	min-height:			100%;
	background:			$dark-blue;
	
	position:			relative;
	top:				0;
	bottom:				100%;
	right:				0;
	
	z-index:			1;
}

.menu-hamburger
{
	position:			fixed;
	z-index:			1;
	
	height:				100%;
	width:				100%;
	
	top:				0;
	bottom:				0;
	left:				0;
	right:				0;
	
	background:			black;
	
	font-family: 		'Raleway', sans-serif;
	text-transform:		uppercase;
}

.menu-hamburger a
{
	text-align:			right;
	padding:			$spacing-small;
	color:				white;
	background:			black;
	display:			block;
}

.menu-hamburger a:hover
{
	background:			$orange;
}

#mobile-menu-trigger
{
	display:			none;
}

label[for="mobile-menu-trigger"]
{
	position:			fixed;
	top:				10px;
	right:				15px;
	z-index:			120;	
	background-image:	url( "/site/images/menu/hamburger-menu.png");
	background-size:	contain;
	width:				25px;
	height:				25px;
	cursor:				pointer;
}

#mobile-menu-trigger:checked + label
{
	right: 				calc(60% + 15px);
}

#mobile-menu-trigger:checked ~ .site-wrapper
{
	right:				60%;
}


