
/*-------------------------------------------------------------
	VARIABLES
	
	SCSS sheet for z-indexs and spacing variables.
--------------------------------------------------------------*/

/* -------------------------------------------------------------
	Z-INDEXES
------------------------------------------------------------- */

$z-index:			100;
$z-image-overlay:	90;
$z-image:			80;


/* -------------------------------------------------------------
	CONTAINERS
------------------------------------------------------------- */

$spacing-large:		10%;
$spacing-medium:	5%;
$spacing-small:		1%;
$spacing-none:		0px;