<dl class="icon" id="mchatheader">
	<dt><!-- IF MCHAT_ARCHIVE_PAGE -->{L_MCHAT_ARCHIVE_PAGE}<!-- ELSEIF S_MCHAT_CUSTOM_PAGE --><a href="{U_MCHAT_CUSTOM_PAGE}" title="{L_MCHAT_TITLE}">Chat</a><!-- ELSE -->Chat<!-- ENDIF --></dt>
	<dd style="border:none">&nbsp;</dd>
</dl>
