<!-- BEGIN mchatrow -->
<li id="mchat-message-{mchatrow.MCHAT_MESSAGE_ID}" class="row mchat-message <!-- IF S_MCHAT_AVATARS -->mchat-message-avatar<!-- ENDIF --> mchat-bg-<!-- IF mchatrow.MCHAT_MESSAGE_ID is even -->1<!-- ELSE -->2<!-- ENDIF -->" data-mchat-id="{mchatrow.MCHAT_MESSAGE_ID}" data-mchat-username="{mchatrow.MCHAT_USERNAME}"<!-- IF mchatrow.MCHAT_USERNAME_COLOR --> data-mchat-usercolor="{mchatrow.MCHAT_USERNAME_COLOR}"<!-- ENDIF --> data-mchat-message="{mchatrow.MCHAT_MESSAGE_EDIT}" data-mchat-message-time="{mchatrow.MCHAT_MESSAGE_TIME}" data-mchat-edit-time="{mchatrow.MCHAT_EDIT_TIME}"<!-- IF MCHAT_EDIT_DELETE_LIMIT and not MCHAT_EDIT_DELETE_IGNORE and (mchatrow.MCHAT_ALLOW_EDIT or mchatrow.MCHAT_ALLOW_DEL) --> data-mchat-edit-delete-limit="1"<!-- ENDIF -->>
	<!-- IF S_MCHAT_AVATARS -->
	<div class="mchat-avatar">
		<!-- IF mchatrow.U_VIEWPROFILE --><a href="{mchatrow.U_VIEWPROFILE}" title="{L_READ_PROFILE}"><!-- ENDIF -->
			<!-- IF mchatrow.MCHAT_USER_AVATAR -->{mchatrow.MCHAT_USER_AVATAR}<!-- ELSE --><img src="{STYLE_PATH}/theme/images/no_avatar.gif" class="mchat-avatar" alt="{L_READ_PROFILE}" /><!-- ENDIF -->
		<!-- IF mchatrow.U_VIEWPROFILE --></a><!-- ENDIF -->
	</div>
	<!-- ENDIF -->
	<div class="mchat-message-wrapper">
		<div class="mchat-message-header">
			<!-- IF not MCHAT_ARCHIVE_PAGE --><span class="mchat-mention" data-mchat-action="mention" title="{L_MCHAT_RESPOND}" <!-- IF mchatrow.MCHAT_USERNAME_COLOR --> style="color:{mchatrow.MCHAT_USERNAME_COLOR}"<!-- ENDIF -->><strong>&#64;</strong></span><!-- ENDIF -->
			{mchatrow.MCHAT_USERNAME_FULL} &bull; <span class="mchat-time" title="{mchatrow.MCHAT_DATETIME}"<!-- IF mchatrow.MCHAT_MINUTES_AGO != -1 --> data-mchat-minutes-ago="{mchatrow.MCHAT_MINUTES_AGO}" data-mchat-relative-update="{mchatrow.MCHAT_RELATIVE_UPDATE}"<!-- ENDIF -->>{mchatrow.MCHAT_TIME}</span>
		</div>
		
		<div class="nav-item shoutbox dd-container drop-arrow">
		<a href="javascript:void(0)" id="quickLinksdrop" title="Shoutbox Actions" class="quick-links-dropdown-trigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
        </a>
        <div class="dropdown-menu user-view-dropdown-menu" role="menu" >
            <!-- EVENT navbar_header_quick_links_before -->
		
		
		<div class="mchat-message-icons">
        <!-- IF MCHAT_ALLOW_PM and mchatrow.MCHAT_PM and mchatrow.U_VIEWPROFILE --><a href="{mchatrow.MCHAT_PM}" title="{L_MCHAT_SEND_PM}" style="font-size:1.7rem; padding-right:5px;color:#555;" ><i class="fi fi-email"></i></a><!-- ENDIF -->
		<!-- IF MCHAT_ALLOW_LIKE and not MCHAT_ARCHIVE_MODE and not mchatrow.MCHAT_IS_POSTER --><a style="font-size:1.7rem; padding-right:5px;color:#555;" title="{L_MCHAT_LIKE}" data-mchat-action="like" ><i class="fi fi-thumb-up"></i></a><!-- ENDIF -->
		<!-- IF MCHAT_ALLOW_QUOTE and not MCHAT_ARCHIVE_MODE and not mchatrow.MCHAT_IS_POSTER --><a style="font-size:1.7rem; padding-right:5px;color:#555;" title="{L_REPLY_WITH_QUOTE}" data-mchat-action="quote" ><i class="fi fi-format-quote"></i></a><!-- ENDIF -->
		<!-- IF MCHAT_ALLOW_IP --><a href="{mchatrow.MCHAT_U_IP}" style="font-size:1.7rem; padding-right:5px;color:#555;" onclick="popup(this.href, 750, 500); return false;"  title="{mchatrow.MCHAT_WHOIS_USER}" ><i class="fi fi-wifi"></i></a><!-- ENDIF -->
		<!-- IF mchatrow.MCHAT_ALLOW_BAN --><a href="{mchatrow.MCHAT_U_BAN}" style="font-size:1.7rem; padding-right:5px;color:#555;" title="{L_MCHAT_PERMISSIONS}" ><i class="fi fi-key-variant"></i></a><!-- ENDIF -->
		<!-- IF mchatrow.MCHAT_ALLOW_EDIT --><a  style="font-size:1.7rem; padding-right:5px;color:#555;" title="{L_MCHAT_EDIT}" data-mchat-action="edit" ><i class="fi fi-pencil"></i></a><!-- ENDIF -->
		<!-- IF mchatrow.MCHAT_ALLOW_DEL --><a  style="font-size:1.7rem; padding-right:5px; color:#555;" title="{L_DELETE}" data-mchat-action="del" ><i class="fi fi-delete"></i></a><!-- ENDIF -->
		</div>
		
		<!-- EVENT navbar_header_quick_links_after -->
        </div>
		</div>
		
		<div class="mchat-text">{mchatrow.MCHAT_MESSAGE}</div>
	</div>
</li>
<!-- END mchatrow -->
