<!--
<div class="alert alert-info alert-dismissible fade in" role="alert" id="indexAlertExample">
  <a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></a>
  
  This notice will only appear on forum index. Uncomment to enable

</div>
-->