@charset "utf-8";
/* CSS Document */

/* -------------------------------------------------------------
	CSS Reset
	
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video 
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* -------------------------------------------------------------
	HaloWheelmen CSS
	
	Colors:
	dark blue 	#2B464F
	yellow		#F9FF4A
------------------------------------------------------------- */


/* -------------------------------------------------------------
	Sections
--------------------------------------------------------------*/

body
{
	font-family: raleway-medium;
}

h1
{
	padding: 25px;
	padding-bottom: 0px;
	text-align: center;
	text-transform: uppercase;
	font-size: 1.2em;
}

img
{
	width: 40vw;
	height: auto;
}

/* -------------------------------------------------------------
	Sections
------------------------------------------------------------- */

.section-large	{ padding: 75px; box-sizing: border-box; }
.section-medium	{ padding: 50px; box-sizing: border-box; clear: both; }
.section-small	{ padding: 25px; box-sizing: border-box; }
.section-none	{ padding: 0px;  box-sizing: border-box; overflow: auto; }

/* -------------------------------------------------------------
	Primary Navigation
------------------------------------------------------------- */

#header
{
	position: 	fixed;
	z-index: 	100;
	display: 	table;
	background: none;
}

#header.opaque
{
	background: #F9FF4A;
}

#header.opaque a
{
	color: black;
}

#header.opaque a:hover
{
	color: #2B464F;
}

#header-title
{
	display: 		table-cell;
	vertical-align: middle;
	text-align:		left;
	color: 			black;
	font-size: 		1.2em;
}

#navigation-primary
{
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

#menu
{
	text-align: right;
}

.navigation
{
	text-align: right;
	text-transform: uppercase;
	width: 100%;
	background: #F9FF4A;
}

.navigation a
{
	font-size: .9em;
	padding: 0px 5px 0px 5px;
	color: white;
}

.navigation a:hover
{
	color: #2B464F;
	text-decoration: none;
}


/* -------------------------------------------------------------
	Featured Content
------------------------------------------------------------- */

#header-featured
{
	overflow: hidden;
	height: 100vh;
	background: rgba( 0, 0, 0, .5 );
}

#featured-content iframe, #featured-content img
{
	min-height: 100vh;
	min-width: 100vw;
}


/* -------------------------------------------------------------
	News
------------------------------------------------------------- */

.news-title
{
	margin:		25px;
}

h2
{
	font-size: 	3em;
	text-align: center;
}

.news-date
{
	text-align: center;
	font-size: 	1.2em;
}


/* -------------------------------------------------------------
	Images
------------------------------------------------------------- */

.fright 	{ float: right; clear: left; 	padding-left: 25px; }
.fleft		{ float: left; clear: right; 	padding-right: 25px; }


/* -------------------------------------------------------------
	Image Effects
------------------------------------------------------------- */

.color-overlay
{
	position: absolute;
	min-width: 100%;
	min-height: 100%;
}

.color-overlay.black
{
	background-color: rgba( 0, 0, 0, 0.6 );
}


/* -------------------------------------------------------------
	Media Queries
------------------------------------------------------------- */

@media( max-width: 800px )
{
	body
	{
		font-size: 12px;
	}
}



body * {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}




















































































