<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$( document ).ready(function() {
	
	$('input[name=special_rank][value=1]').attr('onclick', 'phpbb.toggleDisplay(\'posts\', -1);phpbb.toggleDisplay(\'user_choice\', 1)');
	$('input[name=special_rank][value=0]').attr('onclick', 'phpbb.toggleDisplay(\'posts\', 1);phpbb.toggleDisplay(\'user_choice\', -1)');
	
	
	
	$('option[name=group]').mousedown(function () {
        var $self = $(this);            

        if ($self.attr("selected")) {                
            $self.removeAttr("selected").removeAttr("style");
        }
        else {
            $self.attr("selected", "selected");
        }

        return false;            
    });
});
</script>
<style>
option[selected]{
	background-color:#0063cd;
	color:white;
}
</style>

<div id="user_choice"<!-- IF not S_SPECIAL_RANK --> style="display: none;"<!-- ENDIF -->>
	<dl>
		<dt><label for="selectable_rank">Make User Selectable:</label></dt>
		<dd><label><input onclick="phpbb.toggleDisplay('groups', 1)" type="radio" class="radio" name="selectable_rank" value="1" id="selectable_rank"<!-- IF S_SELECTABLE_RANK and S_SPECIAL_RANK --> checked="checked"<!-- ENDIF --> /> {L_YES}</label>
			<label><input onclick="phpbb.toggleDisplay('groups', -1)" type="radio" class="radio" name="selectable_rank" value="0"<!-- IF not S_SELECTABLE_RANK or not S_SPECIAL_RANK --> checked="checked"<!-- ENDIF --> /> {L_NO}</label></dd>
	</dl>
<div id="groups"<!-- IF not S_SPECIAL_RANK or not S_SELECTABLE_RANK--> style="display: none;"<!-- ENDIF -->>
	<dl>
	<dt><label for="groups">Groups that may choose this rank:</label></dt>
	<dd>
	<select name="groups[]" multiple>
		<!-- BEGIN groups -->
			<option name="group" value="{groups.S_GROUP_ID}" <!-- IF groups.GROUP_SELECTED and S_SELECTABLE_RANK -->selected="selected"<!-- ENDIF -->>{groups.S_GROUP_NAME}</option>
		<!-- END groups -->
	</select>
	</dd>
	</dl>
</div>
</div>