/*-------------------------------------------------------------
	phpBB3 Style Sheet
	
	Style name:			Metro
	Based on style:		
	Modified by:		Matthew Short ( http://mattrshort.com/ )
--------------------------------------------------------------*/
/*-------------------------------------------------------------
	FONTS
--------------------------------------------------------------*/
/*-------------------------------------------------------------
	Raleway
	
	Sans-Serif font for headers.
--------------------------------------------------------------*/
@font-face {
  font-family: 'Raleway';
  src: url("/site/fonts/raleway/Raleway-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("/site/fonts/raleway/Raleway-Italic.ttf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Raleway';
  src: url("/site/fonts/raleway/Raleway-Bold.ttf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Raleway';
  src: url("/site/fonts/raleway/Raleway-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic; }
/*-------------------------------------------------------------
	Aleo
	
	Serif font for body text.
--------------------------------------------------------------*/
@font-face {
  font-family: 'Aleo';
  src: url("/site/fonts/aleo/Aleo-Regular.otf");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Aleo';
  src: url("/site/fonts/aleo/Aleo-Italic.otf");
  font-weight: normal;
  font-style: italic; }
@font-face {
  font-family: 'Aleo';
  src: url("/site/fonts/aleo/Aleo-Bold.otf");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Aleo';
  src: url("/site/fonts/aleo/Aleo-BoldItalic.otf");
  font-weight: bold;
  font-style: italic; }
/*-------------------------------------------------------------
	COLORS
	
	SCSS sheet for color variables.
--------------------------------------------------------------*/
/*-------------------------------------------------------------
	VARIABLES
	
	SCSS sheet for z-indexs and spacing variables.
--------------------------------------------------------------*/
/* -------------------------------------------------------------
	Z-INDEXES
------------------------------------------------------------- */
/* -------------------------------------------------------------
	CONTAINERS
------------------------------------------------------------- */
/* -------------------------------------------------------------
	CSS Reset
	
	http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-decoration: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-------------------------------------------------------------
	COMMON
--------------------------------------------------------------*/
body * {
  box-sizing: border-box; }

body {
  font-family: 'Aleo', serif;
  color: black; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 1%; }

h1 {
  font-size: 2em;
  padding-top: 5%; }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.6em; }

h4 {
  font-size: 1.4em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.2em;
  font-style: italic;
  font-weight: normal; }

/* -------------------------------------------------------------
	LINKS
------------------------------------------------------------- */
a {
  color: #000000; }

a:hover {
  color: #e65c00; }

.hide-on-mobile {
  display: none; }

/* -------------------------------------------------------------
	Images
------------------------------------------------------------- */
img, video {
  width: 100%;
  height: auto; }

img.raw, video.raw {
  width: auto;
  height: auto; }

.float-right {
  float: right;
  clear: left; }

.float-left {
  float: left;
  clear: right; }

/* -------------------------------------------------------------
	Hero Images
------------------------------------------------------------- */
.hero-image, .hero-video {
  position: relative;
  min-height: 60vh; }

.hero-image.fullscreen, .hero-video.fullscreen {
  min-height: 100vh; }

.hero-image img {
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto; }

.hero-video {
  display: none; }

.hero-image h1, .hero-video h1 {
  font-size: 3em; }

/* -------------------------------------------------------------
	OVERLAY
------------------------------------------------------------- */
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 90;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.overlay.black {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0.6); }

/* -------------------------------------------------------------
	IMG CONTAINER
------------------------------------------------------------- */
.img-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: auto; }

/* -------------------------------------------------------------
	GALLERY
------------------------------------------------------------- */
.gallery {
  position: relative;
  width: 100%;
  padding: 1%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  justify-content: center; }

.gallery.horizontal-wrap, .gallery.horizontal {
  -ms-flex-wrap: wrap;
  -ms-flex-direction: row;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }

.gallery.vertical-wrap, .gallery.vertical {
  -ms-flex-wrap: wrap;
  -ms-flex-direction: column;
  -webkit-flex-flow: column;
  flex-flow: column wrap; }

.gallery.horizontal > div {
  width: 100%; }

.gallery > div {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: 1%; }

.gallery > div .img-container.fit-height img {
  height: 100%; }

.gallery.small > div {
  width: 200px; }

.gallery.small > div .img-container {
  width: 30vw;
  height: 30vw; }

.gallery.medium > div .img-container {
  width: 60vw;
  height: 60vw; }

.gallery.large > div .img-container {
  width: 80vw;
  height: 80vw; }

.gallery h1 {
  color: white; }

.gallery a {
  position: relative;
  margin: 1%;
  color: black; }

/* -------------------------------------------------------------
	Sections
------------------------------------------------------------- */
.section-large, .section-medium, .section-small, .section-none {
  box-sizing: border-box;
  overflow: auto; }

/* -------------------------------------------------------------
	Section Large
------------------------------------------------------------- */
.section-large {
  padding: 10%; }

.section-large .float-right .pad {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 0; }

.section-large .float-left .pad {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 10%;
  padding-left: 0; }

/* -------------------------------------------------------------
	Section Medium
------------------------------------------------------------- */
.section-medium {
  padding: 5%; }

.section-medium > h1 {
  padding: 0;
  padding-bottom: 5%; }

.section-medium h1 ~ h1 {
  padding-top: 5%;
  padding-bottom: 1%; }

.section-medium .float-right .pad {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 0; }

.section-medium .float-left .pad {
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 0; }

/* -------------------------------------------------------------
	Section Small
------------------------------------------------------------- */
.section-small {
  padding: 1%; }

.section-small .float-right .pad {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding-right: 0; }

.section-small .float-left .pad {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  padding-left: 0; }

/* -------------------------------------------------------------
	Section None
------------------------------------------------------------- */
.section-none {
  padding: 0px; }

.section-none .float-right .pad {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0; }

.section-none .float-left .pad {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0; }

/* -------------------------------------------------------------
	Section None
------------------------------------------------------------- */
.bg-blue {
  color: white;
  background: #2B464F; }

.bg-white {
  color: black;
  background: white; }

/*-------------------------------------------------------------
	ARTICLE
--------------------------------------------------------------*/
.article {
  margin: 10%;
  margin-top: 60vh;
  margin-bottom: 5%;
  padding: 5%; }

.article .hero-image {
  min-height: 40vh; }
  
.article h1:nth-of-type(1)
{ font-size: 3em; }

/*-------------------------------------------------------------
	First hero-image is repositioned at the top of the page
--------------------------------------------------------------*/
.article .hero-image:nth-of-type(1) {
  position: absolute;
  top: 0px;
  left: 0px;
  min-height: 60vh; }

.article .hero-image:nth-of-type(1) .overlay h1 {
  position: absolute;
  z-index: 90;
  right: 10%;
  left: 10%;
  bottom: 0px;
  padding: 5%;
  padding-left: 1%;
  padding-right: 1%;
  color: initial;
  background: white; }

.article > .hero-image ~ .article-header {
  display: none; }

.article-header {
  position: absolute;
  top: 0px; }

/*-------------------------------------------------------------
	ARTICLE PREVIEW
--------------------------------------------------------------*/
.article-preview {
  background: #FFFFFF;
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%; }

.article-preview .article-timestamp {
  text-align: center; }

.article-preview .article-timestamp + a h1 {
  padding-top: 1%; }

.article-preview .hero-image {
  display: none; }

/*-------------------------------------------------------------
	GUIDE PREVIEW
--------------------------------------------------------------*/
.gallery .guide-preview {
  position: absolute;
  z-index: 90;
  bottom: 0;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  background: black;
  background: rgba(255, 255, 255, 0.5);
  padding: 1%; }

.gallery .article-title {
  font-family: 'Raleway', sans;
  font-size: 1.4em;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase; }

/* -------------------------------------------------------------
	NAVIGATION
------------------------------------------------------------- */
/* -------------------------------------------------------------
	General Navigation
------------------------------------------------------------- */
.navigation {
  width: 100%;
  font-family: 'Raleway';
  text-transform: uppercase;
  display: table;
  background: #010608;
  text-align: right; }

.navigation .nav-title {
  display: table-cell;
  vertical-align: middle;
  text-align: left; }

.navigation a {
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  padding-left: 5px;
  padding-right: 5px; }

.navigation a:hover {
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #e65c00;
  padding-left: 5px;
  padding-right: 5px; }

/* -------------------------------------------------------------
	Primary Navigation
------------------------------------------------------------- */
#nav-primary {
  position: fixed;
  z-index: 100;
  background: none;
  padding: 15px; }

#nav-primary.solid {
  background: #010608; }

#nav-primary .menu {
  display: none; }

#nav-primary a {
  color: #FFFFFF; }

/* -------------------------------------------------------------
	Mobile Navigation
------------------------------------------------------------- */

.site-wrapper {
  min-width: 100%;
  min-height: 100%;
  background: #2B464F;
  position: relative;
  top: 0;
  bottom: 100%;
  right: 0;
  z-index: 1; }

.menu-hamburger {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase; }

.menu-hamburger a {
  text-align: right;
  padding: 1%;
  color: white;
  background: black;
  display: block; }

.menu-hamburger a:hover {
  background: #e65c00; }

#mobile-menu-trigger {
  display: none; }

label[for="mobile-menu-trigger"] {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 120;
  background-image: url("/site/images/menu/hamburger-menu.png");
  background-size: contain;
  width: 25px;
  height: 25px;
  cursor: pointer; }

#mobile-menu-trigger:checked + label {
  right: calc(60% + 15px); }

#mobile-menu-trigger:checked ~ .site-wrapper {
  right: 60%; }

/*-------------------------------------------------------------
	TRANSITIONS
--------------------------------------------------------------*/
body * {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* -------------------------------------------------------------
	MEDIA QUERIES
------------------------------------------------------------- */
/* -------------------------------------------------------------
	Desktop View
------------------------------------------------------------- */
@media (min-width: 1024px)  {
  /* -------------------------------------------------------------
  	Common
  ------------------------------------------------------------- */
  h1 {
    font-size: 2.5em;
    padding-top: 5%; }

  h2 {
    font-size: 2em; }

  h3 {
    font-size: 1.6em; }

  h4 {
    font-size: 1.4em; }

  h5 {
    font-size: 1.2em; }

  h6 {
    font-size: 1.2em;
    font-style: italic;
    font-weight: normal; }

  .hide-on-mobile {
    display: initial; }

  /* -------------------------------------------------------------
  	Navigation
  ------------------------------------------------------------- */
  #nav-primary {
    padding: 1%; }

  /* -------------------------------------------------------------
  	Containers
  ------------------------------------------------------------- */
  .gallery.horizontal-wrap {
    -ms-flex-wrap: wrap;
    -ms-flex-direction: row;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap; }

  .gallery.horizontal {
    -ms-flex-direction: row;
    -webkit-flex-flow: row;
    flex-flow: row; }

  .gallery.vertical-wrap {
    -ms-flex-wrap: wrap;
    -ms-flex-direction: column;
    -webkit-flex-flow: column;
    flex-flow: column wrap; }

  .gallery.vertical {
    -ms-flex-direction: column;
    -webkit-flex-flow: column;
    flex-flow: column; }

  .gallery.small > div {
    width: 20vw; }

  .gallery.small > div .img-container {
    width: 15vw;
    height: 15vw; }

  .gallery.medium > div .img-container {
    width: 20vw;
    height: 20vw; }

  .gallery.large > div .img-container {
    width: 30vw;
    height: 30vw; }

  .img-container.thumbnail {
    width: 15vw;
    height: 15vw; }

  .img-container {
    height: auto;
    max-height: initial; }

  .flex-container {
    display: flex; }

  .flex-column {
    flex-direction: column; }

  .flex-col-third-2 {
    position: relative;
    overflow: hidden;
    flex: 60% 2 2; }

  .flex-col-third-1 {
    position: relative;
    overflow: hidden;
    flex: 40% 1 1; }

  .flex-right {
    order: 2; }

  .flex-left {
    order: 1; }

  /* -------------------------------------------------------------
  	Navigation
  ------------------------------------------------------------- */
  #nav-primary .menu {
    display: table-cell;
    vertical-align: middle;
    text-align: right; }

  label[for="mobile-menu-trigger"] {
    display: none; }

  #mobile-menu-trigger:checked + label {
    right: 0; }

  #mobile-menu-trigger:checked ~ .site-wrapper {
    right: 0; }

  /* -------------------------------------------------------------
  	Images
  ------------------------------------------------------------- */
  .hero-image h1, .hero-video h1 {
    font-size: 5em; }

  .img-container img, .img-container video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 80;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto; }

  .img-container.hero-video {
    display: block; }

  .img-container.hero-video + .img-container.hero-image {
    display: none; } }

/*# sourceMappingURL=style-metro.css.map */
